// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

#ifndef SUBLANG_CZECH_CZECH_REPUBLIC
    #define SUBLANG_CZECH_CZECH_REPUBLIC 0x01
#endif
LANGUAGE LANG_CZECH, SUBLANG_CZECH_CZECH_REPUBLIC

STRINGTABLE DISCARDABLE
BEGIN
    // help string for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Nastavuje které grafické zařízení se má používat.\nPoznámka: V případě že je seznam prázdný, budeš muset aktualizovat ovladače grafické karty a DirectX*."
    IDCOMBOBOX_RESOLUTION,          "Nastavuje velikost okna při hře v okně a rozlišení při hře na celou obrazovku."
    IDCOMBOBOX_SOUND_MODE,          "Nastavuje který typ zvukového zařízení se má používat.\nHudba na pozadí a zvukové efekty nebudou fungovat, pokud je tato volba vypnutá."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Nastavuje typ použitých reproduktorů.\nOvlivňuje hlasitost a 3D výstup zvuků."
    IDCOMBOBOX_SOUND_BITRATE,       "Nastavuje vzorkovací frekvenci zvuků.\nVíce znamená lepší kvalita zvuku, ale taky větší nároky na procesor."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Nastavuje vzorkovací hloubku zvuků.\nVíce znamená lepší kvalita zvuku, ale taky větší nároky na procesor."
    IDCOMBOBOX_SOUND_CHANNELS,      "Nastavuje počet kanálů zvuků.\nVíce znamená lepší kvalita zvuku, ale taky větší nároky na procesor."
    IDCHECKBOX_FULLSCREEN,          "Zapíná a vypíná hru na celou obrazovku.\nV případě že chceš během hry přepínat mezi programy, budeš chtít mít tohle nastavení, pro hru v okně, vypnuté."
    IDCHECKBOX_FOG,                 "Zapíná a vypíná mlhu.\nEfekt mlhy se používá pro zobrazování počasí na mapách polí.\nPoznámka: Tento efekt může být zatěžující pro hráče se slabým počítačem a není podporovaný všemi grafickými kartami.\n\nVe hře: /fog"
    IDCHECKBOX_LIGHTMAP,            "Zapíná a vypíná efekt stínu.\nPoznámka: Tento efekt může být zatěžující pro hráče se slabým počítačem.\n\nVe hře: /lightmap"
    IDCHECKBOX_VOODOO,              "Zapíná a vypíná hacky pro grafické karty VooDoo3.\nTohle nastavení je jen pro řešení potíží s grafickou kartou."
    IDTRACKBAR_SPRITEQ,             "Nastavuje kvalitu grafiky spritů.\nSprite grafiky jsou postavy hráčů, monstra, předměty a podobné objekty. Více znamená lepší kvalita, ale taky vyšší paměťové nároky.\n\nVe hře: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Nastavuje kvalitu grafiky textur.\nTexturové grafiky jsou povrchy mapy, povrchy 3D-objektů (domy) a načítací obrazovky. Více znamená lepší kvalita, ale taky vyšší paměťové nároky.\n\nVe hře: Alt+D"
    IDCHECKBOX_AURA,                "Zapíná a vypíná zjednodušení efektu aury.\nTento efekt se zobrazuje když dosáhneš maximální base level pro své povolání.\n\nVe hře: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Zapíná a vypíná plynulý pohyb kamery ve hře.\nPoznámka: Tento efekt může být zatěžující pro hráče se slabým počítačem.\n\nVe hře: /camera"
    IDCHECKBOX_ISEFFECTON,          "Zapíná a vypíná zobrazení vizuálních efektů.\nPoznámka: Zapnuté efekty můžou být zatěžující hráče se slabým počítačem.\n\nVe hře: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Zapíná a vypíná uživatelsky upravenou AI homuncula.\nPoužívá skript AI\\USER_AI\\AI.lua pro chování aktivního homuncula místo AI\\AI.lua\n\nVe hře: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Zapíná a vypíná přitahování kurzoru k předmětům ležícím na zemi.\n\nVe hře: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Zapíná a vypíná oznámení o přihlášení a odhlášení přátel a hráčů z guildy.\n\nVe hře: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Zapíná a vypíná uživatelsky upravenou AI mercenary.\nPoužívá skript AI\\USER_AI\\AI_M.lua pro chování aktivního mercenary místo AI\\AI_M.lua\n\nVe hře: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Zapíná a vypíná efekt 'miss'.\nZobrazuje 'Miss' když se ty (červeně) nebo tvůj soupeř (bíle) při útoku netrefí.\nPoznámka: Tento efekt může být zatěžující pro hráče se slabým počítačem.\n\nVe hře: /miss"
    IDCHECKBOX_NOCTRL,              "Zapíná a vypíná automatický útok.\nUmožňuje ti automaticky útočit na protivníka bez nutnosti stisknutí klávesy CTRL při zahájení útoku.\n\nVe hře: /noctrl nebo /nc"
    IDCHECKBOX_NOSHIFT,             "Zapíná a vypíná 'force heal'.\nUmožňuje ti používat 'force heal' bez nutnosti stisknutí klávesy SHIFT.\n\nVe hře: /noshift nebo /ns"
    IDCHECKBOX_NOTRADE,             "Zapíná a vypíná automatické odmítnutí obchodních nabídek.\n\nVe hře: /notrade nebo /nt"
    IDCHECKBOX_SHOPPING,            "Zapíná a vypíná mód nakupování.\nUmožňuje ti otevírat obchody levým kliknutím a zavírat obchody pravým kliknutím.\n\nVe hře: /shopping nebo /sh"
    IDCHECKBOX_SNAP,                "Zapíná a vypíná přitahování kurzoru k protivníkům při normálním útoku.\n\nVe hře: /snap"
    IDCHECKBOX_SKILLFAIL,           "Zapíná a vypíná výpis selhání skillu.\n\nVe hře: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Zapíná a vypíná zobrazení veřejného chatu v chatovacím okně.\nVeřejný chat se nadále zobrazuje nad hlavou daného hráče.\n\nVe hře: /notalkmsg nebo /nm"
    IDCHECKBOX_NOTALKMSG2,          "Zapíná a vypíná zobrazení veškerého chatu v chatovacím okně.\nChat se nadále zobrazuje nad hlavou daného hráče.\n\nVe hře: /notalkmsg2 nebo /nm2"
    IDCHECKBOX_SHOWNAME,            "Zapíná a vypíná alternativní písmo zobrazení nicku.\nPísmo může být buď tenké a zobrazovat všechny informace, nebo tučné a zobrazovat vše kromě názvu party a guildy.\n\nVe hře: /showname"
    IDCHECKBOX_STATEINFO,           "Zapíná a vypíná popisy změn statusů.\nUmožňuje ti zobrazit krátký popis změny statusu při najetí kurzorem na jeho ikonu.\n\nVe hře: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Zapíná a vypíná 'tip dne'.\nTip dne se zobrazuje při každém vstupu do hry a obsahuje různé herní tipy a popisy příkazů.\n\nVe hře: /tip"
    IDCHECKBOX_WINDOW,              "Zapíná a vypíná dokování oken.\nOkna ve hře k sobě při přesunu přilnou.\n\nVe hře: /window"
    IDTRACKBAR_STREAMVOLUME,        "Nastavuje hlasitost hudby na pozadí.\n\nVe hře: /bv <hlasitost:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Nastavuje hlasitost zvukových efektů.\n\nVe hře: /v <hlasitost:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Zapíná a vypíná hudbu na pozadí.\nVztahuje se pouze na hudbu přehrávanou ze složky BGM. Pro vypnutí hudby skillů, jako jsou tance, vypni místo toho zvukové efekty.\n\nVe hře: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Zapíná a vypíná zvukové efekty.\n\nVe hře: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Zapíná a vypíná omezování pohybů myši.\n\nUmožňuje ti omezit všechny pohyby myši na herní okno dokud je aktivní. Omezení lze obejít klávesou Windows nebo kombinací Alt+Tab.\nPoznámka: Tohle nastavení má stejný efekt jako Mouse Freedom u ROExt."
    IDCHECKBOX_TRILINEARFILTER,     "Zapíná a vypíná trilineární filtrování (vyhlazení).\nRozostří všechny grafiky k dosažení vyhlazeného vzhledu, může ale zhoršit čitelnost textu."
    IDCHECKBOX_RESETWINDOWS,        "Obnovuje výchozí umístění a nastavení prvků uživatelského rozhraní (oken) pro všechny servery při příštím ukládání.\nPoznámka: Tuto akci nelze vrátit zpět."
    IDCHECKBOX_RESETSKILLLV,        "Odstraní informace o vybraném levelu skillů všech charakterů na všech serverech při příštím ukládání.\n\nMůže uvolnit až několik stovek kilobajtů dat registru u účtů s velmi dlouhou historií.\nPoznámka: Tuto akci nelze vrátit zpět."
    IDCHECKBOX_RESETFOLDER,         "Odstraní všechny uživatelské soubory vytvořené klientem.\n\nVšechny snímky obrazovky, uložené chaty a mezipamět emblémů gild budou odstraněny ze složky ve které se OpenSetup nachází.\nPoznámka: Soubory budou přesunuty do koše, pokud je to možné."
    IDCHECKBOX_RESETSETTING,        "Odstraní VŠECHNY nastavení, čímž se instalace obnový do továrního stavu kromě obdržených aktualizací.\n\nNastavení budou smazána a bude potřeba je nastavit znova. Běžně tuto volbu použiješ, když se chystáš hru odinstalovat.\nPoznámka: Tuto akci nelze vrátit zpět."
    IDINFOICON_VIDEO_REMOTESESSION, "Upozornění: Zjištěno připojení přes vzdálenou plochu.\n\nGrafickou kartu nelze přes vzdálenou plochu rozpoznat."
    IDCHECKBOX_SKILLSNAP,           "Zapíná a vypíná přitahování kurzoru k protivníkům při použití skillů.\n\nVe hře: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Zapíná a vypíná hardwarové urychlení grafiky.\n\nTohle nastavení je jen pro řešení potíží s grafickou kartou. Pokud je zapnuté, nebude klient používat grafickou kartu pro vykreslování grafik.\nPoznámka: Tohle nastavení NENÍ doporučeno pro hráče se slabým nebo průměrným počítačem."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Upozornění: Zjištěno aktivní zrcadlení grafické karty (mirror driver).\n\nGrafickou kartu nelze rozpoznat pokud je mirror driver aktivní. Může být způsobeno aktivní relací VNC, softwarem pro vzdálený přístup nebo škodlivou aplikací (malware)."
    IDINFOICON_SOUND_MISSINGFILES,  "Upozornění: Soubory 'Miles Sound System' chybí nebo jsou poškozené.\n\nChybí jeden nebo více z následujících souborů: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. Hudba na pozadí možná nebude funkční."
    IDCHECKBOX_MONSTERHP,           "Zapíná a vypíná zobrazení HP příšer.\n\nVe hře: /monsterhp"
    IDCHECKBOX_Q1,                  "Zapíná a vypíná používání F9 myší.\nUmožňuje použití skillu registrovaného na F9 pomocí pravého kliknutí.\n\nVe hře: /quickspell nebo /q1"
    IDCHECKBOX_Q2,                  "Zapíná a vypíná používání F7 a F8 myší.\nUmožňuje použití skillů registrovaných na F7 a F8 rolováním kolečka myši nahoru a dolů.\n\nVe hře: /quickspell2 nebo /q2"
    IDCHECKBOX_AURA2,               "Zapíná a vypíná efekt aury.\nTento efekt se zobrazuje když dosáhneš maximální base level pro své povolání.\n\nVe hře: /aura2"
    IDCHECKBOX_BTG,                 "Zapíná a vypíná ikonu battle grounds.\n\nVe hře: /btg"
    IDCHECKBOX_CASHSHOP,            "Zapíná a vypíná ikonu obchodu cash shop.\n\nVe hře: /cashshop"
    IDCHECKBOX_GOLDPC,              "Zapíná a vypíná rozhraní dolování zlata PC Bang.\n\nVe hře: /goldpc"
    IDCHECKBOX_ROULETTE,            "Zapíná a vypíná ikonu rulety.\n\nVe hře: /roulette"
    IDCHECKBOX_QUAKE,               "Zapíná a vypíná efekt chvění obrazovky.\n\nVe hře: /quake"
    IDCHECKBOX_MABLE,               "Zapíná a vypíná efekt skillu Spirit Marble.\n\nVe hře: /mable"
    IDCHECKBOX_ZOOM,                "Zapíná a vypíná rozšíření pohledu hry (oddálení).\n\nVe hře: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 kanálů"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 kanálů"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 kanálů"
    TEXT_SOUNDMODE_NOSOUND,         "Bez zvuků"
    TEXT_SOUNDMODE_2DSOUND,         "Použít 2D zvuky"
    TEXT_SOUNDMODE_3DSOUND,         "Použít 3D zvuky"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 REPRODUKTORY"
    TEXT_SPEAKERTYPE_HEADPHONE,     "SLUCHÁTKA"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 REPRODUKTORY"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bitů"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bitů"
    // tabs
    TEXT_TAB_GRAPHICS,              "Grafika"
    TEXT_TAB_SOUNDS,                "Zvuky"
    TEXT_TAB_SETTINGS,              "Nastavení"
    TEXT_TAB_ABOUT,                 "O aplikaci"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Storno"
    TEXT_DLG_APPLY,                 "Použít"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Nastavení grafiky"
    TEXT_DLG_GRAPHIC_DEVICE,        "Zobrazovací zařízení:"
    TEXT_DLG_RESOLUTION,            "Rozlišení:"
    TEXT_DLG_OPTIONS,               "Možnosti:"
    TEXT_DLG_FULLSCREEN,            "Hra na celou obrazovku"
    TEXT_DLG_FOG,                   "Zapnout mlhu"
    TEXT_DLG_LIGHTMAP,              "Zapnout stíny"
    TEXT_DLG_TRILINEAR_FILTER,      "Trilineární filtrování"
    TEXT_DLG_SPRITE_QUALITY,        "Kvalita spritů:"
    TEXT_DLG_TEXTURE_QUALITY,       "Kvalita textur:"
    TEXT_DLG_TROUBLESHOOTING,       "Řešení potíží"
    TEXT_DLG_VOODOO3_CARD,          "Grafická karta VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "Omezit myš na okno"
    TEXT_DLG_SOUND_SETTINGS,        "Nastavení zvuku"
    TEXT_DLG_SOUND_MODE,            "Mód zvuku:"
    TEXT_DLG_SPEAKER_TYPE,          "Typ reproduktoru:"
    TEXT_DLG_CHANNELS,              "Kanály:"
    TEXT_DLG_BITDEPTH,              "Bitová hloubka:"
    TEXT_DLG_BITRATE,               "Bitová frekvence:"
    TEXT_DLG_BGM_VOLUME,            "Hlasitost hudby na pozadí:"
    TEXT_DLG_SOUND_VOLUME,          "Hlasitost zvukových efektů:"
    TEXT_DLG_MUTE,                  "Ztlumit"
    TEXT_DLG_GENERAL_SETTINGS,      "Všeobecné nastavení"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "Nastavení ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Přemapovat tlačítka myši"
    TEXT_DLG_REMAP_ALTF4,           "Přemapovat Alt+F4"
    TEXT_DLG_FREE_CPU,              "Uvolnit CPU při nečinnosti"
    TEXT_DLG_ALWAYS_ON_TOP,         "Vždy navrchu"
    TEXT_DLG_LOCK_WINDOW,           "Uzamknout okno"
    TEXT_DLG_CODEPAGE,              "Kódování:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Poznámka: Tato stránka se zobrazuje protože byl nalezen ROExt."
    TEXT_DLG_ABOUT_OPENSETUP,       "O aplikaci %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(výchozí)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (neznámý)"
    TEXT_DLG_COMMANDS,              "Příkazy"
    TEXT_DLG_RESET_RESTORE,         "Obnovit výchozí nastavení"
    TEXT_DLG_RESET_WINDOWS,         "Obnovit výchozí polohu a stav uživatelského rozhraní"
    TEXT_DLG_RESET_SKILLLV,         "Obnovit selektory úrovně skillů"
    TEXT_DLG_RESET_FOLDER,          "Vymazat uživatelské data vytvořené klientem"
    TEXT_DLG_RESET_SETTING,         "Vymazat VŠECHNY nastavení Ragnaroku (tovární nastavení)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Vypnout hardwarovou akceleraci grafiky"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "Registr"
    TEXT_DLG_ENGINE_LUA,            "Lua"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetrie"
    TEXT_DLG_VIDEOTEST,             "Test nastavení"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - změň velikost okna na požadovanou velikost"
    // error messages
    TEXT_ERROR__TITLE,              "Chyba"
    TEXT_ERROR__TITLE_LUA,          "Chyba Lua"
    TEXT_ERROR__SYSTEM_ERROR,       "Systémová chyba"
    TEXT_ERROR_INIT_MUTEX,          "Nelze inicializovat mutex."
    TEXT_ERROR_INIT_COMCTL32,       "Nelze inicializovat běžné ovládací prvky."
    TEXT_ERROR_INIT_DIRECTX7,       "Nelze načíst informace o DirectX. Ověř jestli je nainstalovaný DirectX 7 nebo novější."
    TEXT_ERROR_HKEY_CREATE,         "Nelze vytvořit klíč nastavení v registru."
    TEXT_ERROR_HKEY_WRITE,          "Nelze zapsat nastavení do registru."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Nelze vytvořit klíč optionálních nastavení v registru."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Nelze zapsat optionální nastavení do registru."
    TEXT_ERROR_FILE_WRITE,          "Nelze uložit nastavení."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Nelze otevřít soubor nastavení pro zápis. Soubor je jen pro čtení."
    TEXT_ERROR_FILE_OPEN,           "Nelze otevřít soubor nastavení pro zápis."
    TEXT_ERROR_DIRECTORY_CREATE,    "Nelze vytvořit složku pro nastavení."
    TEXT_ERROR_ROEXT_WRITE,         "Nelze uložit ROExt nastavení."
    TEXT_ERROR_IPC_FAILED,          "Komunikace mezi procesy selhala."
    TEXT_ERROR_UNKNOWN_ENGINE,      "Požadovaný engine nastavení neexistuje (kód=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Zvolený engine nastavení zjistil, že se instalace nachází ve stavu který brání úspěšnému načítání a ukládání nastavení.\n\nVíce informací nalezneš v souboru opensetup.log."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Byl zjištěn spuštěný klient RagnarokOnline. Změny v nastavení provedené touto aplikací mohou být klientem přepsány.\n\nPřesto pokračovat?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
