// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

STRINGTABLE DISCARDABLE
BEGIN
    // help string for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Stellt das zu nutzende Anzeigegerät ein.\nHinweis: Wenn die Liste leer ist, musst du deinen Grafikkarten Treiber und DirectX* aktualisieren."
    IDCOMBOBOX_RESOLUTION,          "Stellt die Fenstergröße bei der Verwendung des Fenstermodus oder die Auflösung bei Verwendung des Vollbildmodus ein."
    IDCOMBOBOX_SOUND_MODE,          "Stellt den zu nutzenden Soundmodus ein.\nWenn die Einstellung ausgeschaltet ist, werden Hintergrundmusik und Soundeffekte nicht funktionieren."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Stellt ein welcher Lautsprechertyp eingesetzt wird.\nBeeinflusst die Lautstärke und die 3D Soundausgabe."
    IDCOMBOBOX_SOUND_BITRATE,       "Stellt die verwendete Bitrate ein.\nJe höher die Bitrate, desto bessere Soundqualität, allerdings auch höhere CPU Belastung."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Stellt die Bittiefe des Sounds ein.\nJe höher die Bittiefe, desto bessere Soundqualität, allerdings auch höhere CPU Belastung."
    IDCOMBOBOX_SOUND_CHANNELS,      "Stellt die Kanaltiefe ein.\nJe höher die Kanaltiefe, desto bessere Soundqualität, allerdings auch höhere CPU Belastung"
    IDCHECKBOX_FULLSCREEN,          "Wechselt zwischen Vollbildmodus und Fenstermodus.\nWenn du während des Spielens gerne mal zwischen Programmen wechselst, eignet sich der Fenstermodus am Besten dafür."
    IDCHECKBOX_FOG,                 "Schaltet den Nebeleffekt an oder aus.\nDer Nebeleffekt wird verwendet um Wettereffekte darzustellen.\nHinweis: Dieser Effekt kann bei schwachen Computersystemen zu Problemen führen und wird nicht von jeder Grafikkarte unterstützt.\n\nIm Spiel: /fog"
    IDCHECKBOX_LIGHTMAP,            "Schaltet Schatten an und aus.\nHinweis: Dieser Effekt kann bei schwachen Computersystemen zu Problemen führen.\n\nIm Spiel: /lightmap"
    IDCHECKBOX_VOODOO,              "Schaltet den VooDoo3 Grafikkarten Hack an oder aus.\nDiese Option ist nur zur Fehlerbehebung von Grafikkartenproblemen."
    IDTRACKBAR_SPRITEQ,             "Stellt die Sprite-Qualität ein.\nSprite-Grafiken sind Charaktere, Monster, Gegenstände und ähnliche Objekte. Je höher die Einstellung, desto bessere Qualität haben die Grafiken, aber desto höher ist die RAM-Auslastung.\n\nIm Spiel: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Stellt die Texturqualität ein.\nTexturgrafiken sind die Böden der Maps, 3D-Objekt Oberflächen (von Häusern) und Ladebildschirme. Je höher die Einstellung, desto bessere Qualität haben die Grafiken, aber desto höher ist die RAM-Auslastung.\n\nIm Spiel: Alt+D"
    IDCHECKBOX_AURA,                "Schaltet die Vereinfachung des Aura-Effektes an oder aus.\nDieser Effekt wird angezeigt, wenn du das maximale Baselevel deiner Jobklasse erreicht hast.\n\nIm Spiel: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Stellt das Kamera-Zooming an oder aus.\nHinweis: Dieser Effekt kann für schwache Computersysteme belastend sein.\n\nIm Spiel: /camera"
    IDCHECKBOX_ISEFFECTON,          "Stellt diverse visuelle Effekte an oder aus.\nHinweis: Aktivierte Effekte können für schwache Computersysteme belastend sein.\n\nIm Spiel: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Stellt die benutzerdefinierte Homunculus AI an oder aus.\nSorgt dafür, dass das Homunculus sich verhält, wie in der AI\\USER_AI\\AI.lua anstatt der AI\\AI.lua festgelegt wurde.\n\nIm Spiel: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Schaltet vereinfachte Zielanwahl für am Boden liegende Gegenstände an oder aus.\n\nIm Spiel: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Schaltet die Benachrichtigung über den Online- und Offline-Status von Gildenmitgliedern und Freunden an oder aus.\n\nIm Spiel: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Stellt die benutzerdefinierte Mercenary AI an oder aus.\nSorgt dafür, dass der Mercenary sich verhält, wie in der AI\\USER_AI\\AI_M.lua anstatt der AI\\AI_M.lua festgelegt wurde.\n\nIm Spiel: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Stellt den Verfehl-Effekt an oder aus.\nZeigt ein 'Miss' an, wenn dein Angriff (rot) oder der deines Gegners (weiß) sein Ziel verfehlt.\nHinweis: Dieser Effekt kann für schwache Computersysteme belastend sein.\n\nIm Spiel: /miss"
    IDCHECKBOX_NOCTRL,              "Schaltet automatisches Angreifen an oder aus.\nAktiviert die Funktion deinen Gegner automatisch per Klick anzugreifen, ohne dabei die STRG-Taste beim Erstangriff gedrückt zu halten.\n\nIm Spiel: /noctrl oder /nc"
    IDCHECKBOX_NOSHIFT,             "Schaltet offensiven Heal an oder aus.\nErmöglicht die Fähigkeit 'Heal' und andere unterstützende Fähigkeiten auch gegen Monster einzusetzen, ohne die SHIFT-Taste gedrückt zu halten.\n\nIm Spiel: /noshift oder /ns"
    IDCHECKBOX_NOTRADE,             "Schaltet automatisches Ablehnen vom Handeln an oder aus.\n\nIm Spiel: /notrade oder /nt"
    IDCHECKBOX_SHOPPING,            "Schaltet den Shopping-Modus an oder aus.\nAktiviert die Fähigkeit einen Shop mit einem einzigen Linksklick zu öffnen und mit einem Rechtsklick auf den Shopnamen wieder zu schließen.\n\nIm Spiel: /shopping oder /sh"
    IDCHECKBOX_SNAP,                "Schaltet vereinfachte Zielanwahl für konventionelle Angriffe an oder aus.\n\nIm Spiel: /snap"
    IDCHECKBOX_SKILLFAIL,           "Schaltet die 'Skill fehlgeschlagen' Meldung an oder aus.\n\nIm Spiel: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Schaltet den öffentlichen Chat im Chatfenster an oder aus.\nDer öffentliche Chat wird weiterhin über den Köpfen der Charaktere angezeigt.\n\nIm Spiel: /notalkmsg oder /nm"
    IDCHECKBOX_NOTALKMSG2,          "Schaltet den gesamten Chat im Chatfenster an oder aus.\nDer Chat wird weiterhin über den Köpfen der Charaktere angezeigt.\n\nIm Spiel: /notalkmsg2 oder /nm2"
    IDCHECKBOX_SHOWNAME,            "Schaltet den alternativen Anzeigestil von Charakternamen an oder aus.\nDer Schriftstil kann entweder dünn sein, der alle Informationen anzeigt, oder dick sein, bei dem alles außer dem Gilden- und Partyname angezeigt wird.\n\nIm Spiel: /showname"
    IDCHECKBOX_STATEINFO,           "Zeigt die Statusbeschreibung bei Statusveränderungen an, wenn man mit dem Mauszeiger über sie geht.\n\nIm Spiel: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Schaltet den 'Tipp des Tages' an oder aus.\nDer 'Tipp des Tages' wird bei jedem Betreten des Spiels angezeigt und beinhaltet diverse Game-Tipps und Befehl-Beschreibungen.\n\nIm Spiel: /tip"
    IDCHECKBOX_WINDOW,              "Schaltet die Dockfunktion der Fenster an oder aus.\nFührt dazu, dass die Fenster beim Verschieben an den Kanten von anderen Fenstern 'kleben' bleiben.\n\nIm Spiel: /window"
    IDTRACKBAR_STREAMVOLUME,        "Regelt die Lautstärke der Hintergrundmusik.\n\nIm Spiel: /bv <Lautstärke:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Regelt die Lautstärke der Soundeffekte.\n\nIm Spiel: /v <Lautstärke:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Schaltet die Hintergrundmusik an oder aus.\nDies bezieht sich nur auf Musik aus dem BGM-Ordner. Um skillgebundene Musik wie z.B. die von Tänzen zu deaktivieren, schalte stattdessen Soundeffekte aus.\n\nIm Spiel: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Schaltet die Soundeffekte aus.\n\nIm Spiel: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Schaltet die Beschränkung der Mauszeigerbewegung an oder aus.\n\nBeschränkt alle Mausbewegungen auf das Spielfenster, solange es aktiv ist. Um die Beschränkung zu umgehen, benutze die Windows-Taste oder Alt+Tab.\nHinweis: Diese Einstellung hat den selben Effekt wie Mouse Freedom bei ROExt."
    IDCHECKBOX_TRILINEARFILTER,     "Schaltet das trilineare Filtern (Glätten) an oder aus. Verwischt alle Grafiken um einen Glättungseffekt zu erzielen, kann aber dazu führen, dass Texte womöglich schlechter zu lesen sind.\n\nIm Spiel: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Stellt die Position und Einstellungen der Ingame-Benutzeroberfläche (Fenster) für alle Server bei nächstem Speichern wieder her.\nHinweis: Diese Aktion kann nicht rückgängig gemacht werden."
    IDCHECKBOX_RESETSKILLLV,        "Löscht alle Informationen über angewählte Skill Level im Skilltree von allen Charakteren auf allen Servern bei nächstem Speichern.\n\nWiedergewonnener Speicherplatz kann bei Accounts mit sehr langer Geschichte bis zu einige Hundert Kilobyte Registrydaten betragen.\nHinweis: Diese Aktion kann nicht rückgängig gemacht werden."
    IDCHECKBOX_RESETFOLDER,         "Löscht alle vom Client erstellten Benutzerdaten.\n\nDies löscht alle Screenshots, gespeicherte Chats und zwischengespeicherte Gildenembleme aus dem Ordner, in dem sich OpenSetup befindet.\nHinweis: Dateien werden, soweit dies möglich ist, in den Papierkorb verschoben."
    IDCHECKBOX_RESETSETTING,        "Löscht ALLE Einstellungen und stellt somit die Installation auf Werkszustand zurück (außer erhaltene Patches).\n\nEinstellungen gehen verloren und müssen neu eingestellt werden. Normalerweise benutzt du dies, wenn du dabei bist das Spiel zu deinstallieren.\nHinweis: Diese Aktion kann nicht rückgängig gemacht werden."
    IDINFOICON_VIDEO_REMOTESESSION, "Warnung: Remote Desktop Sitzung erkannt.\n\nDeine Grafikkarte kann nicht über RDP erkannt werden."
    IDCHECKBOX_SKILLSNAP,           "Schaltet vereinfachte Zielanwahl für Skills an oder aus.\n\nIm Spiel: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Schaltet hardware-beschleunigte Grafiken an oder aus.\n\nDiese Option ist nur zur Fehlerbehebung von Grafikkartenproblemen. Wenn diese Option aktiv ist, wird die Grafikkarte vom Client nicht fürs Zusammenstellen von Grafiken benutzt.\nHinweis: Diese Option wird für schwache oder durchschnittliche Computersysteme NICHT empflohlen."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Warnung: Mirror Driver erkannt.\n\nDeine Grafikkarte kann nicht erkannt werden, wenn ein Mirror Driver aktiv ist. Eine mögliche Ursache kann eine aktive VNC Sitzung, Serversoftware zur Fernsteuerung oder ein Schadprogramm (Malware) sein."
    IDINFOICON_SOUND_MISSINGFILES,  "Warnung: 'Miles Sound System' Dateien fehlen oder sind beschädigt.\n\nEine oder einige der folgenden Dateien fehlen: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. Hintergrundmusik wird möglicherweise nicht funktionieren."
    IDCHECKBOX_MONSTERHP,           "Schaltet Anzeige von Monster HP an oder aus.\n\nIm Spiel: /monsterhp"
    IDCHECKBOX_Q1,                  "Schaltet Aktivierung von F9 mittels Maus an oder aus.\nWenn aktiv, kann auf F9 registrierter Skill mittels Rechtsklick benutzt werden.\n\nIm Spiel: /quickspell oder /q1"
    IDCHECKBOX_Q2,                  "Schaltet Aktivierung von F7 und F8 mittels Maus an oder aus.\nWenn aktiv, können auf F7 und F8 registrierte Skills mittels Mausrad auf bzw. ab benutzt werden.\n\nIm Spiel: /quickspell2 oder /q2"
    IDCHECKBOX_AURA2,               "Schaltet den Aura-Effekt an oder aus.\nDieser Effekt wird angezeigt, wenn du das maximale Baselevel deiner Jobklasse erreicht hast.\n\nIm Spiel: /aura2"
    IDCHECKBOX_BTG,                 "Schaltet Battlegrounds Icon an oder aus.\n\nIm Spiel: /btg"
    IDCHECKBOX_CASHSHOP,            "Schaltet Cash Shop Icon an oder aus.\n\nIm Spiel: /cashshop"
    IDCHECKBOX_GOLDPC,              "Schaltet PC Bang Gold Mining Bedienelemente an oder aus.\n\nIm Spiel: /goldpc"
    IDCHECKBOX_ROULETTE,            "Schaltet Roulette Icon an oder aus.\n\nIm Spiel: /roulette"
    IDCHECKBOX_QUAKE,               "Schaltet Erdbeben-Effekt an oder aus.\n\nIm Spiel: /quake"
    IDCHECKBOX_MABLE,               "Schaltet visuellen Effekt von Spirit Marble an oder aus.\n\nIm Spiel: /mable"
    IDCHECKBOX_ZOOM,                "Schaltet erweiterte Spiel-Ansicht (verkleinern) an oder aus.\n\nIm Spiel: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 Kanäle"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 Kanäle"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 Kanäle"
    TEXT_SOUNDMODE_NOSOUND,         "Ohne Sound"
    TEXT_SOUNDMODE_2DSOUND,         "2D Sound benutzen"
    TEXT_SOUNDMODE_3DSOUND,         "3D Sound benutzen"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 LAUTSPRECHER"
    TEXT_SPEAKERTYPE_HEADPHONE,     "KOPFHÖRER"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 LAUTSPRECHER"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 Bit"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 Bit"
    // tabs
    TEXT_TAB_GRAPHICS,              "Grafik"
    TEXT_TAB_SOUNDS,                "Sounds"
    TEXT_TAB_SETTINGS,              "Einstellungen"
    TEXT_TAB_ABOUT,                 "Über"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Abbrechen"
    TEXT_DLG_APPLY,                 "Übernehmen"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Grafikeinstellungen"
    TEXT_DLG_GRAPHIC_DEVICE,        "Anzeigegerät:"
    TEXT_DLG_RESOLUTION,            "Auflösung:"
    TEXT_DLG_OPTIONS,               "Optionen:"
    TEXT_DLG_FULLSCREEN,            "Im Vollbild spielen"
    TEXT_DLG_FOG,                   "Nebel aktivieren"
    TEXT_DLG_LIGHTMAP,              "Lightmap benutzen"
    TEXT_DLG_TRILINEAR_FILTER,      "Trilinearer Filter"
    TEXT_DLG_SPRITE_QUALITY,        "Spritequalität:"
    TEXT_DLG_TEXTURE_QUALITY,       "Texturqualität:"
    TEXT_DLG_TROUBLESHOOTING,       "Problembehebung"
    TEXT_DLG_VOODOO3_CARD,          "VooDoo3 Grafikkarte"
    TEXT_DLG_RESTRICT_MOUSE,        "Mauszeiger aufs Fenster beschränken"
    TEXT_DLG_SOUND_SETTINGS,        "Soundeinstellungen"
    TEXT_DLG_SOUND_MODE,            "Soundmodus:"
    TEXT_DLG_SPEAKER_TYPE,          "Lautsprechertyp:"
    TEXT_DLG_CHANNELS,              "Kanäle:"
    TEXT_DLG_BITDEPTH,              "Bittiefe:"
    TEXT_DLG_BITRATE,               "Bitrate:"
    TEXT_DLG_BGM_VOLUME,            "Hintergrundmusik-Lautstärke:"
    TEXT_DLG_SOUND_VOLUME,          "Sound-Lautstärke:"
    TEXT_DLG_MUTE,                  "Ton aus"
    TEXT_DLG_GENERAL_SETTINGS,      "Allgemeine Einstellungen"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt Einstellungen"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Maustasten neu belegen"
    TEXT_DLG_REMAP_ALTF4,           "Alt+F4 neu belegen"
    TEXT_DLG_FREE_CPU,              "Wenn inaktiv CPU freigeben"
    TEXT_DLG_ALWAYS_ON_TOP,         "Immer im Vordergrund"
    TEXT_DLG_LOCK_WINDOW,           "Fenster fixieren"
    TEXT_DLG_CODEPAGE,              "Zeichensatz:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Hinweis: Diese Seite wird angezeigt, weil ROExt gefunden wurde."
    TEXT_DLG_ABOUT_OPENSETUP,       "Über %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(Standard)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (Unbekannt)"
    TEXT_DLG_COMMANDS,              "Befehle"
    TEXT_DLG_RESET_RESTORE,         "Standardeinstellungen wiederherstellen"
    TEXT_DLG_RESET_WINDOWS,         "Fensterpositionen zurücksetzen"
    TEXT_DLG_RESET_SKILLLV,         "Skill-Level-Auswahl Voreinstellungen zurücksetzen"
    TEXT_DLG_RESET_FOLDER,          "Vom Client erstellte Benutzerdaten entfernen"
    TEXT_DLG_RESET_SETTING,         "ALLE Ragnarok-Einstellungen entfernen (Werkszustand)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Hardware-beschleunigte Grafiken deaktivieren"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetrie"
    TEXT_DLG_VIDEOTEST,             "Einstellungen testen"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - vergrößere das Fenster auf die gewünschte Größe"
    // error messages
    TEXT_ERROR__TITLE,              "Fehler"
    TEXT_ERROR__TITLE_LUA,          "Lua Fehler"
    TEXT_ERROR__SYSTEM_ERROR,       "System Fehler"
    TEXT_ERROR_INIT_MUTEX,          "Mutex konnte nicht initialisiert werden."
    TEXT_ERROR_INIT_COMCTL32,       "Common Controls konnten nicht initialisiert werden."
    TEXT_ERROR_INIT_DIRECTX7,       "DirectX Informationen konnten nicht geladen werden. Stelle sicher, dass DirectX 7 oder neuer installiert ist."
    TEXT_ERROR_HKEY_CREATE,         "Einstellungsschlüssel konnte nicht in der Registrierung erstellt werden."
    TEXT_ERROR_HKEY_WRITE,          "Einstellungen konnten nicht in die Registrierung gespeichert werden."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Optionseinstellungsschlüssel konnte nicht in der Registrierung erstellt werden."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Optionseinstellungen konnten nicht in die Registrierung gespeichert werden."
    TEXT_ERROR_FILE_WRITE,          "Einstellungen konnten nicht gespeichert werden."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Einstellungsdatei konnte nicht zum Schreiben geöffnet werden. Datei ist schreibgeschützt."
    TEXT_ERROR_FILE_OPEN,           "Einstellungsdatei konnte nicht zum Schreiben geöffnet werden."
    TEXT_ERROR_DIRECTORY_CREATE,    "Einstellungsordner konnte nicht erstellt werden."
    TEXT_ERROR_ROEXT_WRITE,         "ROExt Einstellungen konnten nicht gespeichert werden."
    TEXT_ERROR_IPC_FAILED,          "Inter-Process-Kommunikation hat fehlgeschlagen."
    TEXT_ERROR_UNKNOWN_ENGINE,      "Ausgewählte Einstellungsengine existiert nicht (code=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Ausgewählte Einstellungsengine hat festgestellt, dass sich deine Installation im Zustand befindet, der erfolgreiches Laden und Speichern von Einstellungen verhindert.\n\nSiehe opensetup.log für weitere Details."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Laufender RagnarokOnline Client festgestellt. Änderungen an Einstellungen, die in dieser Anwendung vorgenommen werden, könnten vom Client überschrieben werden.\n\nTrotzdem fortfahren?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
