// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Controla el dispositivo gráfico que se vaya a usar.\nNota: Si la lista está vacía, necesitarás actualizar los drivers de DirectX y los de tu tarjeta gráfica."
    IDCOMBOBOX_RESOLUTION,          "Controla el tamaño de la ventana en modo ventana, o la resolución de la pantalla si se juega a pantalla completa."
    IDCOMBOBOX_SOUND_MODE,          "Controla el dispositivo de sonido que se vaya a usar.\nSi se desactiva, no funcionarán ni la música del juego ni los efectos sonoros."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Controla el tipo de altavoces que se vayan a usar.\nAfecta al volumen y a la salida de sonido 3D."
    IDCOMBOBOX_SOUND_BITRATE,       "Controla la tasa de bits (bit-rate) del sonido.\nA mayor valor mejor calidad de sonido, pero también mayor consumo de CPU."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Controla la profundidad de bits (bit-depth) del sonido.\nA mayor valor mejor calidad de sonido, pero también mayor consumo de CPU."
    IDCOMBOBOX_SOUND_CHANNELS,      "Controla la profundidad de canal (channel-depth) del sonido.\nA mayor valor mejor calidad de sonido, pero también mayor consumo de CPU."
    IDCHECKBOX_FULLSCREEN,          "Activa o desactiva el juego en pantalla completa.\nQuizá prefieras desactivar esta opción si quieres usar otros programas mientras juegas."
    IDCHECKBOX_FOG,                 "Activa o desactiva los efectos de niebla.\nEstos efectos mejoran la ambientación de los mapas.\nNota: Este efecto puede ser pesado para sistemas con poca capacidad y no todas las tarjetas gráficas lo soportan.\n\nUso en el juego: /fog"
    IDCHECKBOX_LIGHTMAP,            "Activa o desactiva los efectos de sombra.\nNota: Estos efectos pueden ser pesados para sistemas con poca capacidad.\n\nUso en el juego: /lightmap"
    IDCHECKBOX_VOODOO,              "Activa o desactiva pequeñas modificaciones de software para las tarjetas gráficas VooDoo3.\nEsta opción solo sirve para resolver problemas con tarjetas gráficas VooDoo3."
    IDTRACKBAR_SPRITEQ,             "Controla la calidad de los sprites.\nEstos sprites son las imágenes de jugadores, monstruos, ítems y otros objetos similares. A mayor valor, mejor calidad, pero también consume más memoria.\n\nUso en el juego: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Controla la calidad de las texturas.\nLas texturas son el suelo de los mapas, superficies 3D (como casas) y las pantallas de carga. A mayor valor mejor calidad, pero también consume más memoria.\n\nUso en el juego: Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "Activa o desactiva los efectos de aura.\nEste efecto se muestra cuando se obtiene el mayor nivel base para tu personaje.\n\nUso en el juego: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Activa o desactiva la posibilidad de acercar o alejar la cámara del juego.\nNota: Esta opción puede ser pesada para sistemas con poca capacidad.\n\nUso en el juego: /camera"
    IDCHECKBOX_ISEFFECTON,          "Activa o desactiva algunos efectos visuales.\nNota: Activar estos efectos puede ser pesado para sistemas con poca capacidad.\n\nUso en el juego: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Activa o desactiva el uso de IA personalizadas para homúnculos.\nPermite al homúnculo del jugador actuar conforme a los comandos en el archivo AI\\USER_AI\\AI.lua en vez de AI\\AI.lua.\n\nUso en el juego: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Activa o desactiva el cambio del cursor cuando se señala algún ítem.\n\nUso en el juego: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Activa o desactiva las notificaciones para cuando los compañeros de gremio y amigos se conectan o desconectan.\n\nUso en el juego: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Activa o desactiva el uso de IA personalizadas para mercenarios.\nPermite al mercenario del jugador actuar conforme a los comandos en el archivo AI\\USER_AI\\AI_M.lua en vez de AI\\AI_M.lua.\n\nUso en el juego: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Activa o desactiva el efecto de fallo al atacar.\nMuestra el mensaje ""Miss"" cuando tus ataques (en rojo) o los de tu oponente (en blanco) fallan.\nNota: Este efecto puede ser pesado para sistemas con poca capacidad.\n\nUso en el juego: /miss"
    IDCHECKBOX_NOCTRL,              "Activa o desactiva el auto ataque.\nTe permite atacar automáticamente al enemigo sin necesidad de mantener pulsada la tecla CTRL cuando vayas a atacar.\n\nUso en el juego: /noctrl o /nc"
    IDCHECKBOX_NOSHIFT,             "Activa o desactiva el heal forzado.\nTe permite usar tu capacidad para forzar el uso de heal (y otras habilidades en principio beneficiosas) al enemigo sin necesidad de mantener pulsada la tecla SHIFT.\n\nUso en el juego: /noshift o /ns"
    IDCHECKBOX_NOTRADE,             "Activa o desactiva el rechazo automático de solicitudes de trade.\n\nUso en el juego: /notrade o /nt"
    IDCHECKBOX_SHOPPING,            "Activa o desactiva el modo de tiendas.\nTe permite abrir una tienda con un solo click con el botón izquierdo del ratón y cerrarla con un click con el botón derecho.\n\nUso en el juego: /shopping o /sh"
    IDCHECKBOX_SNAP,                "Activa o desactiva el cambio del cursor cuando se puede atacar a un enemigo.\n\nUso en el juego: /snap"
    IDCHECKBOX_SKILLFAIL,           "Activa o desactiva los mensajes para cuando una skill falla su objetivo.\n\nUso en el juego: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Activa o desactiva el envío de mensajes de conversación públicos a la ventana de chat.\nLos mensajes de conversación públicos se continúan mostrando sobre los personajes que los envían.\n\nUso en el juego: /notalkmsg o /nm"
    IDCHECKBOX_NOTALKMSG2,          "Activa o desactiva el envío de todos los mensajes a la ventana de chat.\nLos mensajes de conversación se continúan mostrando sobre los personajes que los envían.\n\nUso en el juego: /notalkmsg2 o /nm2"
    IDCHECKBOX_SHOWNAME,            "Activa o desactiva otro estilo de fuente para los nombres de personajes.\nLa fuente puede ser bien normal y mostrar toda la información del personaje, o en negrita y no mostrar el nombre de party ni el de gremio.\n\nUso en el juego: /showname"
    IDCHECKBOX_STATEINFO,           "Activa o desactiva la descripción en los iconos de cambio de estado.\nPermite mostrar una pequeña descripción de los cambios de estado cuando se sitúa el ratón sobre sus respectivos iconos.\n\nUso en el juego: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Activa o desactiva el consejo del día (tip of the day).\nEl consejo del día se muestra cada vez que entras al juego y muestra consejos varios sobre el juego o descripciones de comandos.\n\nUso en el juego: /tip"
    IDCHECKBOX_WINDOW,              "Activa o desactiva el acoplamiento de ventanas.\nPermite que distintas ventanas se acoplen por sus bordes cuando mueves unas cerca de otras.\n\nUso en el juego: /window"
    IDTRACKBAR_STREAMVOLUME,        "Controla el volumen de la música de fondo.\n\nUso en el juego: /bv <volumen:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Controla el volumen de los efectos sonoros.\n\nUso en el juego: /v <volumen:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Activa o desactiva la música del juego (BGM).\nEsto solo afecta a la música que proviene de la carpeta BGM: para desactivar la música de habilidades, como las canciones del Bardo, desactiva los efectos sonoros.\n\nUso en el juego: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Activa o desactiva los efectos sonoros.\n\nUso en el juego: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Activa o desactiva restricciones para el ratón.\n\nEvita que puedas sacar el ratón del juego mientras está activo. Para saltarte esta restricción ustiliza la tecla Windows o Alt+Tab.\nNota: Tiene el mismo efecto que la extensión Mouse Freedom de ROExt."
    IDCHECKBOX_TRILINEARFILTER,     "Activa o desactiva el filtrado (suavizado) trilineal. Difumina un poco los gráficos para conseguir un efecto de suavizado, pero puede hacer que los textos sean más difíciles de leer.\n\nUso en el juego: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Restaura los ajustes y la posición por defecto de todos los elementos de la interfaz del juego para todos los servidores, hasta que se vuelvan a cambiar.\nNota: Esta acción no puede deshacerse."
    IDCHECKBOX_RESETSKILLLV,        "Elimina toda información de los niveles de habilidad seleccionados desde el árbol de habilidades para todos los jugadores en todos los servidores, hasta que se vuelvan a seleccionar.\n\nEl espacio liberado puede llegar a ser algunos cientos de kilobytes para cuentas que lleven mucho tiempo.\nNota: Esta acción no puede deshacerse."
    IDCHECKBOX_RESETFOLDER,         "Elimina todos los datos de usuario creados por el cliente.\n\nEliminará todas las capturas de pantalla, historiales de chat guardados y emblemas de guild en caché. Solo hace efecto en la carpeta desde la que se ejecute OpenSetup.\nNota: Si se puede, los archivos se moverán a la papelera de reciclaje."
    IDCHECKBOX_RESETSETTING,        "Elimina TODAS las configuraciones y restaura todas las configuraciones ""de fábrica"" excepto los parches recibidos.\n\nTodas las configuraciones se perderán y deberán ajustarse de nuevo. Normalmente, esto se usa cuando se va a desinstalar el juego.\nNota: Esta acción no se puede deshacer."
    IDINFOICON_VIDEO_REMOTESESSION, "Aviso: Se ha detectado una sesión de escritorio remoto.\n\nNo se puede detectar tu tarjeta gráfica a través del protocolo RDP."
    IDCHECKBOX_SKILLSNAP,           "Activa o desactiva el cambio de cursor cuando se usan habilidades.\n\nUso en el juego: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Activa o desactiva la aceleración de gráficos por hardware.\n\nUtiliza esta opción solo si tienes problemas con tu tarjeta gráfica. Si está activado, el cliente no utilizará la tarjeta gráfica para renderizar gráficos.\nNota: Esta opción NO se recomienda para los usuarios de sistemas de bajas o medias capacidades."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Aviso: Se ha detectado un controlador espejo (mirror driver).\n\nNo se puede detectar tu tarjeta gráfica si tienes un controlador espejo activo. Esto puede ocurrir a causa de una sesión activa de VNC, software de control remoto o malware."
    IDINFOICON_SOUND_MISSINGFILES,  "Aviso: Los archivos de ""Miles Sound System"" faltan o están corruptos.\n\nFaltan todos o algunos de los siguientes archivos: ""mss32.dll"", ""mssfast.m3d"", ""mp3dec.asi"". La música del juego podría no funcionar."
    IDCHECKBOX_MONSTERHP,           "Activa o desactiva mostrar la barra de vida restante (HP) de los monstruos.\n\nUso en el juego: /monsterhp"
    IDCHECKBOX_Q1,                  "Activa o desactiva el mapeo de F9 al ratón.\nPermite utilizar la skill asignada a la tecla F9 con un click derecho.\n\nUso en el juego: /quickspell o /q1"
    IDCHECKBOX_Q2,                  "Activa o desactiva el mapeo de F7 y F8 al ratón.\nPermite utilizar skills asignadas a las teclas F7 y F8 desplazando la rueda del ratón hacia arriba y abajo, respectivamente.\n\nUso en el juego: /quickspell2 o /q2"
    IDCHECKBOX_AURA2,               "Activa o desactiva los efectos de aura.\nEste efecto se muestra cuando se obtiene el mayor nivel base para tu personaje.\n\nUso en el juego: /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\nUso en el juego: /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\nUso en el juego: /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\nUso en el juego: /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\nUso en el juego: /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\nUso en el juego: /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\nUso en el juego: /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\nUso en el juego: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 canales"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 canales"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 canales"
    TEXT_SOUNDMODE_NOSOUND,         "Sin sonido"
    TEXT_SOUNDMODE_2DSOUND,         "Usar sonido 2D"
    TEXT_SOUNDMODE_3DSOUND,         "Usar sonido 3D"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 ALTAVOCES"
    TEXT_SPEAKERTYPE_HEADPHONE,     "CASCOS"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 ALTAVOCES"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bit"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bit"
    // tabs
    TEXT_TAB_GRAPHICS,              "Gráficos"
    TEXT_TAB_SOUNDS,                "Sonido"
    TEXT_TAB_SETTINGS,              "Ajustes"
    TEXT_TAB_ABOUT,                 "Acerca de"
    // dialog items
    TEXT_DLG_OK,                    "Aceptar"
    TEXT_DLG_CANCEL,                "Cancelar"
    TEXT_DLG_APPLY,                 "Aplicar"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Ajustes Gráficos"
    TEXT_DLG_GRAPHIC_DEVICE,        "Dispositivo gráfico:"
    TEXT_DLG_RESOLUTION,            "Resolución:"
    TEXT_DLG_OPTIONS,               "Opciones:"
    TEXT_DLG_FULLSCREEN,            "Jugar a pantalla completa"
    TEXT_DLG_FOG,                   "Activar niebla"
    TEXT_DLG_LIGHTMAP,              "Usar Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "Filtrado trilineal"
    TEXT_DLG_SPRITE_QUALITY,        "Calidad de sprites:"
    TEXT_DLG_TEXTURE_QUALITY,       "Calidad de texturas:"
    TEXT_DLG_TROUBLESHOOTING,       "Resolución de problemas"
    TEXT_DLG_VOODOO3_CARD,          "Tarjeta gráfica VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "Restringir movimiento del ratón a la ventana"
    TEXT_DLG_SOUND_SETTINGS,        "Ajustes de Sonido"
    TEXT_DLG_SOUND_MODE,            "Modo de sonido:"
    TEXT_DLG_SPEAKER_TYPE,          "Tipo de altavoces:"
    TEXT_DLG_CHANNELS,              "Canales:"
    TEXT_DLG_BITDEPTH,              "Profundidad de bits:"
    TEXT_DLG_BITRATE,               "Tasa de bits:"
    TEXT_DLG_BGM_VOLUME,            "Volumen de la música del juego:"
    TEXT_DLG_SOUND_VOLUME,          "Volumen de los efectos sonoros:"
    TEXT_DLG_MUTE,                  "Silenciar"
    TEXT_DLG_GENERAL_SETTINGS,      "Ajustes Generales"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "Ajustes de ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom (permite sacar el ratón de la ventana de juego)"
    TEXT_DLG_REMAP_MOUSE,           "Reasignar botones del ratón"
    TEXT_DLG_REMAP_ALTF4,           "Reasignar Alt+F4"
    TEXT_DLG_FREE_CPU,              "Reducir uso del procesador cuando el juego esté inactivo"
    TEXT_DLG_ALWAYS_ON_TOP,         "Siempre visible"
    TEXT_DLG_LOCK_WINDOW,           "Bloquear la ventana"
    TEXT_DLG_CODEPAGE,              "Página de códigos (Codepage):"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Nota: Esta sección aparece solo porque se ha detectado ROExt."
    TEXT_DLG_ABOUT_OPENSETUP,       "Sobre %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(por defecto)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (desconocido)"
    TEXT_DLG_COMMANDS,              "Comandos"
    TEXT_DLG_RESET_RESTORE,         "Restaurar valores por defecto"
    TEXT_DLG_RESET_WINDOWS,         "Restaurar los ajustes y la posición de la interfaz de usuario"
    TEXT_DLG_RESET_SKILLLV,         "Restaurar los selectores de niveles de habilidad"
    TEXT_DLG_RESET_FOLDER,          "Eliminar los datos de usuario creados por el cliente"
    TEXT_DLG_RESET_SETTING,         "Eliminar TODOS los ajustes relacionados con Ragnarok (restauración de fábrica)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Desactivar aceleración de gráficos por hardware"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - Cambia las dimensiones de la ventana de juego al tamaño deseado"
    // error messages
    TEXT_ERROR__TITLE,              "Error"
    TEXT_ERROR__TITLE_LUA,          "Error de Lua"
    TEXT_ERROR__SYSTEM_ERROR,       "Error del sistema"
    TEXT_ERROR_INIT_MUTEX,          "No se pudo inicializar mutex."
    TEXT_ERROR_INIT_COMCTL32,       "No se pudo inicializar los controles comunes."
    TEXT_ERROR_INIT_DIRECTX7,       "No se pudo obtener información sobre DirectX. Asegúrate de tener instalado DirectX 7 o superior."
    TEXT_ERROR_HKEY_CREATE,         "No se pudo crear la llave del registro para los ajustes."
    TEXT_ERROR_HKEY_WRITE,          "No se pudo escribir los ajustes al registro del sistema."
    TEXT_ERROR_HKEY_OPT_CREATE,     "No se pudo crear la llave del registro para guardar las opciones."
    TEXT_ERROR_HKEY_OPT_WRITE,      "No se pudo guardar los ajustes de opciones al registro."
    TEXT_ERROR_FILE_WRITE,          "No se pudo guardar los ajustes."
    TEXT_ERROR_FILE_OPEN_READONLY,  "No se pudo abrir las opciones para escritura. El archivo está marcado como solo lectura."
    TEXT_ERROR_FILE_OPEN,           "No se pudo abrir las opciones para escritura."
    TEXT_ERROR_DIRECTORY_CREATE,    "No se pudo crear el directorio para los ajustes."
    TEXT_ERROR_ROEXT_WRITE,         "No se pudo guardar los ajustes de ROExt."
    TEXT_ERROR_IPC_FAILED,          "Ha fallado la comunicación entre procesos."
    TEXT_ERROR_UNKNOWN_ENGINE,      "El motor de ajustes seleccionado no existe (código=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Se ha observado que el estado de la instalación de Ragnarök Online interfiere en la carga y guardado correcto de ajustes.\n\nMás detalles en el archivo opensetup.log"
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
