// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Contrôle le type de périphérique graphique à utiliser.\nRemarque : vous aurez besoin de mettre à jour vos pilotes de carte graphique et DirectX* si la liste est vide."
    IDCOMBOBOX_RESOLUTION,          "Contrôle la taille de la fenêtre en mode fenêtré et la résolution d'écran en plein écran."
    IDCOMBOBOX_SOUND_MODE,          "Contrôle le type de périphérique audio à utiliser.\nSi désactivé, à la fois la musique de fond et les effets sonores ne fonctionneront pas."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Contrôle le type de haut-parleurs utilisés.\nAffecte le volume et le son 3D en sortie."
    IDCOMBOBOX_SOUND_BITRATE,       "Contrôle le taux d'échantillonage des sons.\nPlus signifie de meilleure qualité sonore, mais aussi sollicite plus l'utilisation du processeur."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Contrôle la fréquence d'échantillonage des sons.\nPlus signifie de meilleure qualité sonore, mais aussi sollicite plus l'utilisation du processeur."
    IDCOMBOBOX_SOUND_CHANNELS,      "Contrôle la fréquence des canaux des sons.\nPlus signifie de meilleure qualité sonore, mais aussi sollicite plus l'utilisation du processeur."
    IDCHECKBOX_FULLSCREEN,          "Active et désactive le jeu en plein écran.\nVous pouvez désactiver cette option pour jouer en mode fenêtré, lorsque vous souhaitez basculer entre les programmes tout en jouant."
    IDCHECKBOX_FOG,                 "Active et désactive l'effet de brouillard.\nL'effet de brouillard est rendu par la mise en place du climat des champs.\nRemarque : cet effet pourrait être un fardeau pour les utilisateurs avec des spécifications de système faibles et n'est pas pris en charge par toutes les cartes graphiques.\n\nEn jeu : /fog"
    IDCHECKBOX_LIGHTMAP,            "Active et désactive les effets d'ombre.\nRemarque : cet effet pourrait être un fardeau pour les utilisateurs avec des spécifications de système faibles.\n\nEn jeu : /lightmap"
    IDCHECKBOX_VOODOO,              "Active et désactive les piratages de carte graphique VooDoo3.\nCette option est seulement pour le dépannage des problèmes de carte graphique."
    IDTRACKBAR_SPRITEQ,             "Contrôle la qualité graphique des sprites.\nLes Sprites graphiques sont des personnages joueurs, des monstres, des objets et des éléments similaires. Plus signifie de meilleure qualité, mais aussi sollicite plus de mémoire vive.\n\nEn jeu : Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Contrôle la qualité graphique des textures.\nLes Textures graphiques sont des terrains des cartes, des surfaces 3D d'objets (maisons) et des écrans de chargement. Plus signifie de meilleure qualité, mais aussi sollicite plus de mémoire vive.\n\nEn jeu : Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "Active et désactive l'effet d'aura.\nCet effet s'affiche lorsque vous atteignez le niveau de base maximum pour votre métier.\n\nEn jeu : /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Active et désactive le zoom de la caméra.\nRemarque : cet effet pourrait être un fardeau pour les utilisateurs avec des spécifications de système faibles.\n\nEn jeu : /camera"
    IDCHECKBOX_ISEFFECTON,          "Active et désactive divers effets spéciaux visuels.\nRemarque : les effets activés pourraient être un fardeau pour les utilisateurs avec des spécifications de système faibles.\n\nEn jeu : /effect"
    IDCHECKBOX_ONHOUSERAI,          "Active et désactive l'IA de l'homonculus personnalisé par l'utilisateur.\nPermet à l'homonculus actuel d'agir selon le script AI\\USER_AI\\AI.lua au lieu de AI\\AI.lua.\n\nEn jeu : /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Active et désactive le curseur du ramassage d'objets lâchés.\n\nEn jeu : /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Active et désactive les notifications à propos des changements de statut en ligne de sa guilde et ses ami(e)s.\n\nEn jeu : /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Active et désactive l'IA du mercenaire personnalisé par l'utilisateur.\nPermet au mercenaire actuel d'agir selon le script AI\\USER_AI\\AI_M.lua au lieu de AI\\AI_M.lua.\n\nEn jeu : /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Active et désactive l'effet d'avoir raté.\nAffiche un 'Raté' (Miss) pour vous (rouge) ou les attaques ratées de votre adversaire (blanc).\nRemarque : cet effet pourrait être un fardeau pour les utilisateurs avec des spécifications de système faibles.\n\nEn jeu : /miss"
    IDCHECKBOX_NOCTRL,              "Active et désactive les attaques automatiques.\nVous permet d'attaquer automatiquement un ennemi sans avoir à maintenir la touche CTRL lors du début de l'attaque.\n\nEn jeu : /noctrl ou /nc"
    IDCHECKBOX_NOSHIFT,             "Active et désactive le soin forcé.\nVous permet d'utiliser votre capacité 'soin forcé' sans avoir à tenir la touche SHIFT.\n\nEn jeu : /noshift ou /ns"
    IDCHECKBOX_NOTRADE,             "Active et désactive les échanges rejetés automatiquement.\n\nEn jeu : /notrade ou /nt"
    IDCHECKBOX_SHOPPING,            "Active et désactive le mode shopping.\nPermet d'ouvrir une boutique avec un simple clic gauche et fermez-le à nouveau avec un simple clic droit.\n\nEn jeu : /shopping ou /sh"
    IDCHECKBOX_SNAP,                "Active et désactive en lâchant le curseur de ciblage pour les attaques conventionnelles.\n\nEn jeu : /snap"
    IDCHECKBOX_SKILLFAIL,           "Active et désactive les messages d'échec des compétences.\n\nEn jeu : /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Active et désactive le chat public dans la fenêtre de chat.\nLe chat public est toujours affiché au-dessus de la tête des personnages respectifs.\n\nEn jeu : /notalkmsg ou /nm"
    IDCHECKBOX_NOTALKMSG2,          "Active et désactive tous les chats dans la fenêtre de chat.\nLe chat est toujours affiché au-dessus de la tête des personnages respectifs.\n\nEn jeu : /notalkmsg2 ou /nm2"
    IDCHECKBOX_SHOWNAME,            "Active et désactive un style différent de police pour le nom du personnage.\nLa police peut être mince, affichant toutes les informations, ou gras affichant tout mais le groupe et le nom de guilde.\n\nEn jeu : /showname"
    IDCHECKBOX_STATEINFO,           "Active et désactive la description du changement de statut sur l'icône.\nVous permet d'afficher une brève description d'un changement de statut au survol de son icône.\n\nEn jeu : /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Active et désactive l''astuce du jour'.\nL'astuce du jour se manifeste chaque fois que vous entrez dans le jeu et affiche diverses astuces du jeu et des descriptions de commande.\n\nEn jeu : /tip"
    IDCHECKBOX_WINDOW,              "Active et désactive le magnétisme entre fenêtres.\nRegroupe les fenêtres ensembles à leurs bords lorsque vous les déplacez.\n\nEn jeu : /window"
    IDTRACKBAR_STREAMVOLUME,        "Contrôle le volume de la musique de fond.\n\nEn jeu : /bv <volume:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Contrôle le volume des effets sonores.\n\nEn jeu : /v <volume:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Active et désactive les musiques de fond (BGM).\nCela n'affecte que la musique jouée à partir du dossier BGM. Pour désactiver la musique de compétence liée, telle que la danse, désactivez les effets sonores à la place.\n\nEn jeu : /bgm"
    IDCHECKBOX_ISSOUNDON,           "Active et désactive les effets sonores.\n\nEn jeu : /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Active et désactive les contraintes des mouvements de la souris.\n\nVous permet de restreindre tous les mouvements de la souris à la fenêtre de jeu tant que la fenêtre est active. Pour échapper à la contrainte utilisez la touche Windows ou Alt+Tab.\nRemarque : ce paramètre a le même effet que la Liberté de la Souris de ROExt."
    IDCHECKBOX_TRILINEARFILTER,     "Active et désactive le filtrage trilinéaire (de lissage). Brouille tous les graphismes pour obtenir un effet de lissage, mais pourrait causer une lecture du texte plus difficile.\n\nEn jeu : Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Restaure la position par défaut et les paramètres des éléments dans le jeu de l'interface utilisateur pour tous les serveurs lors des prochaines sauvegardes.\nRemarque : cette action ne peut être annulée."
    IDCHECKBOX_RESETSKILLLV,        "Supprime toutes les informations des sélecteurs des niveaux des compétences de l'arbre des compétences pour tous les personnages sur tous les serveurs lors des prochaines sauvegardes.\n\nL'espace récupéré peut atteindre jusqu'à quelques centaines de kilo-octets de données du registre pour les comptes avec un très long historique.\nRemarque : cette action ne peut être annulée."
    IDCHECKBOX_RESETFOLDER,         "Supprime toutes les données d'utilisateur créées par le client.\n\nCette opération va supprimer toutes les captures d'écran, les conversations de chat enregistrées et les emblèmes de guilde en cache dans le dossier d'OpenSetup où il y figure.\nRemarque : les fichiers sont déplacés dans la corbeille, si possible."
    IDCHECKBOX_RESETSETTING,        "Supprime TOUS les paramètres, rétablissant l'installation aux défauts d'usine, sauf pour les mises à jour reçues.\n\nLes paramètres seront perdus et doivent être à nouveau réglés. Normalement, vous l'utilisez quand vous êtes sur le point de désinstaller le jeu.\nRemarque : cette action ne peut être annulée."
    IDINFOICON_VIDEO_REMOTESESSION, "Attention : session de bureau à distance détectée.\n\nVotre carte graphique ne peut pas être détectée via PBD."
    IDCHECKBOX_SKILLSNAP,           "Active et désactive en lâchant le curseur de ciblage pour les compétences.\n\nEn jeu : /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Active et désactive les graphismes avec l'accélération matérielle.\n\nCette option est seulement pour le dépannage des problèmes de carte graphique. Lorsqu'elle est activée, la carte graphique ne sera pas utilisé par le client pour le rendu graphique.\nRemarque : cette option n'est PAS recommandé pour les utilisateurs avec des spécifications de système faibles ou moyennes."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Attention : pilote miroir détecté.\n\nVotre carte graphique ne peut pas être détectée lorsqu'un pilote miroir est actif. Cela peut être causé par une session IVR active, un logiciel de serveur de contrôle à distance ou un programme malveillant."
    IDINFOICON_SOUND_MISSINGFILES,  "Attention : les fichiers 'Miles Sound System' sont manquants ou corrompus.\n\nIl vous manque tout ou une partie des fichiers suivants : 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. La musique de fond peut ne pas fonctionner."
    IDCHECKBOX_MONSTERHP,           "Active et désactive l'affichage des PV des monstres.\n\nEn jeu : /monsterhp"
    IDCHECKBOX_Q1,                  "Active et désactive le mappage de la souris avec F9.\nVous permet d'utiliser une compétence attribuée au raccourci F9 avec un clic droit.\n\nEn jeu : /quickspell ou /q1"
    IDCHECKBOX_Q2,                  "Active et désactive le mappage de la souris avec F7 et F8.\nVous permet d'utiliser des compétences attribuées aux raccourcis F7 et F8 en roulant la molette de la souris vers le haut et vers le bas respectivement.\n\nEn jeu : /quickspell2 ou /q2"
    IDCHECKBOX_AURA2,               "Active et désactive l'effet d'aura.\nCet effet s'affiche lorsque vous atteignez le niveau de base maximum pour votre métier.\n\nEn jeu : /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\nEn jeu : /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\nEn jeu : /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\nEn jeu : /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\nEn jeu : /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\nEn jeu : /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\nEn jeu : /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\nEn jeu: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 Canaux"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 Canaux"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 Canaux"
    TEXT_SOUNDMODE_NOSOUND,         "Aucun Son"
    TEXT_SOUNDMODE_2DSOUND,         "Utiliser du Son 2D"
    TEXT_SOUNDMODE_3DSOUND,         "Utiliser du Son 3D"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 HAUT-PARLEURS"
    TEXT_SPEAKERTYPE_HEADPHONE,     "CASQUE"
    TEXT_SPEAKERTYPE_SURROUND,      "SURROUND"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 HAUT-PARLEURS"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bits"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bits"
    // tabs
    TEXT_TAB_GRAPHICS,              "Graphismes"
    TEXT_TAB_SOUNDS,                "Sons"
    TEXT_TAB_SETTINGS,              "Options"
    TEXT_TAB_ABOUT,                 "À propos"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Annuler"
    TEXT_DLG_APPLY,                 "Appliquer"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Options Graphiques"
    TEXT_DLG_GRAPHIC_DEVICE,        "Périphérique Graphique :"
    TEXT_DLG_RESOLUTION,            "Résolution :"
    TEXT_DLG_OPTIONS,               "Options :"
    TEXT_DLG_FULLSCREEN,            "Jouer en Plein Écran"
    TEXT_DLG_FOG,                   "Activer le Brouillard"
    TEXT_DLG_LIGHTMAP,              "Utiliser la Texture de Lumière"
    TEXT_DLG_TRILINEAR_FILTER,      "Filtrage Trilinéaire"
    TEXT_DLG_SPRITE_QUALITY,        "Qualité des Sprites :"
    TEXT_DLG_TEXTURE_QUALITY,       "Qualité des Textures :"
    TEXT_DLG_TROUBLESHOOTING,       "Dépannage"
    TEXT_DLG_VOODOO3_CARD,          "Carte graphique VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "Restreindre la souris à la fenêtre"
    TEXT_DLG_SOUND_SETTINGS,        "Options Sonores"
    TEXT_DLG_SOUND_MODE,            "Mode Sonore :"
    TEXT_DLG_SPEAKER_TYPE,          "Type de Haut-parleur :"
    TEXT_DLG_CHANNELS,              "Canaux :"
    TEXT_DLG_BITDEPTH,              "Fréquence d'échantillonage :"
    TEXT_DLG_BITRATE,               "Taux d'échantillonage :"
    TEXT_DLG_BGM_VOLUME,            "Volume des BGM :"
    TEXT_DLG_SOUND_VOLUME,          "Volume des Sons :"
    TEXT_DLG_MUTE,                  "Muet"
    TEXT_DLG_GENERAL_SETTINGS,      "Options Générales"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "Options de ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "Liberté de la Souris"
    TEXT_DLG_REMAP_MOUSE,           "Remapper les Boutons de la Souris"
    TEXT_DLG_REMAP_ALTF4,           "Remapper Alt+F4"
    TEXT_DLG_FREE_CPU,              "Libérer le CPU lorsqu'Inactif"
    TEXT_DLG_ALWAYS_ON_TOP,         "Toujours au Dessus"
    TEXT_DLG_LOCK_WINDOW,           "Verrouiller la Fenêtre"
    TEXT_DLG_CODEPAGE,              "Code de page :"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Remarque : cette page apparaît seulement, car ROExt a été détecté."
    TEXT_DLG_ABOUT_OPENSETUP,       "À propos de %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(défaut)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (inconnu)"
    TEXT_DLG_COMMANDS,              "Commandes"
    TEXT_DLG_RESET_RESTORE,         "Réinitialisation par Défaut"
    TEXT_DLG_RESET_WINDOWS,         "Rétablir la position et les options de l'IU par défaut"
    TEXT_DLG_RESET_SKILLLV,         "Rétablir les sélecteurs de niveau de compétence par défaut"
    TEXT_DLG_RESET_FOLDER,          "Supprimer les données de l'utilisateur créées par le client"
    TEXT_DLG_RESET_SETTING,         "Supprimer TOUTES les options liées à Ragnarok (reset d'usine)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Désactiver les graphismes avec l'accélération matérielle"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - redimensionnez la fenêtre à la taille désirée"
    // error messages
    TEXT_ERROR__TITLE,              "Erreur"
    TEXT_ERROR__TITLE_LUA,          "Erreur du Lua"
    TEXT_ERROR__SYSTEM_ERROR,       "Erreur du Système"
    TEXT_ERROR_INIT_MUTEX,          "Échec d'initialisation du mutex."
    TEXT_ERROR_INIT_COMCTL32,       "Échec d'initialisation de contrôles communs."
    TEXT_ERROR_INIT_DIRECTX7,       "Impossible de récupérer les informations DirectX. Assurez-vous que DirectX 7 ou plus récent est installé."
    TEXT_ERROR_HKEY_CREATE,         "Impossible de créer des paramètres clés du Registre."
    TEXT_ERROR_HKEY_WRITE,          "Impossible d'écrire les paramètres du Registre."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Impossible de créer les paramètres des options clés du Registre."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Impossible d'écrire les paramètres des options du Registre."
    TEXT_ERROR_FILE_WRITE,          "Impossible d'écrire les paramètres."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Impossible d'ouvrir le fichier des paramètres pour l'écriture. Le Fichier est attribué en lecture seule."
    TEXT_ERROR_FILE_OPEN,           "Impossible d'ouvrir le fichier des paramètres pour l'écriture."
    TEXT_ERROR_DIRECTORY_CREATE,    "Impossible de créer le répertoire des paramètres."
    TEXT_ERROR_ROEXT_WRITE,         "Impossible d'écrire les paramètres de ROExt."
    TEXT_ERROR_IPC_FAILED,          "Les communications inter processus ont échoué."
    TEXT_ERROR_UNKNOWN_ENGINE,      "Le moteur sélectionné des paramètres n'existe pas. (code=0x%08x)"
    TEXT_ERROR_INSANE_ENGINE,       "Le moteur sélectionné des paramètres a déterminé, que votre état d'installation va interférer avec le chargement et la sauvegarde corrects des paramètres.\n\nRegardez opensetup.log pour plus de détails."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
