// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

#ifndef SUBLANG_JAPANESE_JAPAN
    #define SUBLANG_JAPANESE_JAPAN 0x01
#endif
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "使用するビデオカードのタイプを選択します。\n注: リストが空の場合は、お使いのビデオカードのドライバとDirectX*を更新する必要があります。"
    IDCOMBOBOX_RESOLUTION,          "フルスクリーンモード時の解像度、ウィンドウモード時のウィンドウサイズを選択します。\n注: リストが空の場合は、お使いのビデオカードのドライバとDirectX*を更新する必要があります。"
    IDCOMBOBOX_SOUND_MODE,          "使用するサウンドモードのタイプを選択します。\nオフにした場合、BGMと効果音の両方の効果が機能しません。"
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "使用するスピーカーのタイプを選択します。\n音量と3Dサウンド出力に影響します。"
    IDCOMBOBOX_SOUND_BITRATE,       "サウンドのビットレートを選択します。\n音質を上げると、より高いCPU使用率となります。"
    IDCOMBOBOX_SOUND_BITDEPTH,      "サウンドのビット深度を選択します。\n音質を上げると、より高いCPU使用率となります。"
    IDCOMBOBOX_SOUND_CHANNELS,      "サウンドのチャンネルを選択します。\n音質を上げると、より高いCPU使用率となります。"
    IDCHECKBOX_FULLSCREEN,          "フルスクリーンモードのオンとオフを切り替えます。\nあなたが遊びながらプログラムを切り替えたいときはこれをオフにしてウィンドウモードで遊ぶことをおすすめします。"
    IDCHECKBOX_FOG,                 "霧エフェクトのオンとオフを切り替えます。\n霧エフェクトはフィールドの天候を表現するために実装されています。\n注: このエフェクトは、低スペックPCユーザーにとって負担になる可能性があり、すべてのビデオカードではサポートされていません。\n\nゲーム内: /fog"
    IDCHECKBOX_LIGHTMAP,            "影エフェクトのオンとオフを切り替えます。\n注: このエフェクトは低スペックPCユーザーにとって負担になる可能性があります。\n\nゲーム内: /lightmap"
    IDCHECKBOX_VOODOO,              "VooDoo3ビデオカードハックのオンとオフを切り替えます。\nこのオプションはビデオカード問題のトラブルシューティングのためにあります。"
    IDTRACKBAR_SPRITEQ,             "スプライト表示の品質を選択します。\nスプライト表示はプレイヤー、モンスター、アイテム、同様のオブジェクトを指します。品質が上がるほどより多くのメモリーを必要とします。\n\nゲーム内: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "テクスチャー表示の品質を選択します。\nテクスチャー表示はマップの地面、3Dオブジェクトの表面 (家など)、ローディング画面などを指します。品質が上がるほどより多くのメモリーを必要とします。\n\nゲーム内: Alt+D"
    IDCHECKBOX_AURA,                "オーラエフェクト簡略化のオンとオフを切り替えます。\nこのエフェクトは、あなたのベースレベルが最大になったときに表示されます。\n\nゲーム内: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "カメラズームのオンとオフを切り替えます。\n注: このエフェクトは低スペックPCユーザーにとって負担になる可能性があります。\n\nゲーム内: /camera"
    IDCHECKBOX_ISEFFECTON,          "様々な視覚的特殊効果のオンとオフを切り替えます。\n注: 有効にしたエフェクトが低スペックPCユーザーにとって負担になる可能性があります。\n\nゲーム内: /effect"
    IDCHECKBOX_ONHOUSERAI,          "ユーザーがカスタマイズしたホムンクルスAIのオンとオフを切り替えます。\nAI\\AI.のLuaスクリプトに代わり、AI\\USER_AI\\AI.に従ってホムンクルスが行動します。\n\nゲーム内: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "アイテムを選択する際のスナップのオンとオフを切り替えます。\n\nゲーム内: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "ギルドメンバーや友達のオンライン状態の通知のオンとオフを切り替えます。\n\nゲーム内: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "ユーザーがカスタマイズした傭兵AIのオンとオフを切り替えます。\nAI\\AI_M.のLuaスクリプトに代わり、AI\\USER_AI\\AI_M.に従ってホムンクルスが行動します。\n\nゲーム内: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "ミス表示のオンとオフを切り替えます。\nミス攻撃の時にあなたのミス (赤表示) と相手のミス (白表示) が表示されます。\n注: このエフェクトは低スペックPCユーザーにとって負担になる可能性があります。\n\nゲーム内: /miss"
    IDCHECKBOX_NOCTRL,              "自動攻撃のオンとオフを切り替えます。\nあなたが攻撃を開始するとき、Ctrlキーを押し続けなくても自動攻撃が有効になります。\n\nゲーム内: /noctrl または /nc"
    IDCHECKBOX_NOSHIFT,             "強制ヒールのオンとオフを切り替えます。\nSHIFTキーを押し続けなくても、あなたは強制ヒールを使用することが出来ます。\n\nゲーム内: /noshift または /ns"
    IDCHECKBOX_NOTRADE,             "取引要請の自動拒否のオンとオフを切り替えます。\n\nゲーム内: /notrade または /nt"
    IDCHECKBOX_SHOPPING,            "ショッピングモードのオンとオフを切り替えます。\nあなたは露店の看板を左シングルクリックで開き、看板を右シングルクリックで閉じることが出来ます。\n\nゲーム内: /shopping または /sh"
    IDCHECKBOX_SNAP,                "攻撃ターゲットへのスナップのオンとオフを切り替えます。\n\nゲーム内: /snap"
    IDCHECKBOX_SKILLFAIL,           "スキル失敗メッセージのオンとオフを切り替えます。\n\nゲーム内: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "チャットウィンドウ内の公開チャットのオンとオフを切り替えます。\n公開チャットはそれぞれのキャラクターの頭上に表示されます。\n\nゲーム内: /notalkmsg または /nm"
    IDCHECKBOX_NOTALKMSG2,          "チャットウィンドウ内の全チャットのオンとオフを切り替えます。\nチャットはそれぞれのキャラクターの頭上に表示されます。\n\nゲーム内: /notalkmsg2 または /nm2"
    IDCHECKBOX_SHOWNAME,            "キャラクターの名前表示方式のオンとオフを切り替えます。\nパーティーやギルド名の表示フォントを太くしたり、表示する全ての情報を細くしたりすることが出来ます。\n\nゲーム内: /showname"
    IDCHECKBOX_STATEINFO,           "ステータス変化アイコンの説明のオンとオフを切り替えます。\nステータス変化アイコンの上にマウスを置いたときにそのアイコンの簡単な説明を表示することが出来ます。\n\nゲーム内: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "「今日の豆知識」のオンとオフを切り替えます。\n「今日の豆知識」はあなたがゲームを起動する度にあらわれ、様々なゲームのヒントやコマンドの説明が表示されます。\n\nゲーム内: /tip"
    IDCHECKBOX_WINDOW,              "ゲーム内ウィンドウのスナップのオンとオフを切り替えます。\nあなたがウィンドウを移動したときに縁同士でスナップされます。\n\nゲーム内: /window"
    IDTRACKBAR_STREAMVOLUME,        "BGMの音量を選択します。\n\nゲーム内: /bv <音量:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "効果音の音量を選択します。\n\nゲーム内: /v <音量:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "BGMのオンとオフを切り替えます。\nこれはBGMフォルダからの再生音楽にだけ影響します。ダンスのようなスキル音楽を無効にするには効果音をオフにする必要があります。\n\nゲーム内: /bgm"
    IDCHECKBOX_ISSOUNDON,           "効果音のオンとオフを切り替えます。\n\nゲーム内: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "マウスの移動制限のオンとオフを切り替えます。\n\nウィンドウがアクティブである限り、ゲームウィンドウにすべてのマウスの動きを制限することができます。この制限から脱するには WindowsキーやAlt+Tabキーを使用してください。\n注: この効果はROExtの「マウスの自由」と同じです。"
    IDCHECKBOX_TRILINEARFILTER,     "トライリニアフィルタリング (スムージング) のオンとオフを切り替えます。スムージング効果によって全ての表示がぼけるため、文章の読み取りが困難になることがあります。\n\nゲーム内: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "ゲーム内のユーザーインターフェースの設定と位置をデフォルトへ復元します。\n注: この操作は元に戻すことはできません。"
    IDCHECKBOX_RESETSKILLLV,        "全てのキャラクターのスキルツリー内レベル選択情報を削除します。\n\n長い歴史を持つアカウントの場合、合計数百キロバイトのレジストリデータ容量を解放することが出来ます。\n注: この操作は元に戻すことはできません。"
    IDCHECKBOX_RESETFOLDER,         "クライアントによって作成された全てのユーザーデータを削除します。\n\nこれはOpenSetupが存在するフォルダ、全てのスクリーンショット、保存したチャット、キャッシュされたギルドエンブレムを削除します。\n注: ファイルは可能であればごみ箱に移動されます。"
    IDCHECKBOX_RESETSETTING,        "受信したパッチを除き、全ての設定を削除し初期のデフォルトへ復元します。\n\n設定が失われるため、新たに設定をする必要があります。通常、この機能はゲームをアンインストールする際に使用します。\n注: この操作は元に戻すことはできません。"
    IDINFOICON_VIDEO_REMOTESESSION, "警告: リモートデスクトップセッションが検出されました。\n\nあなたのビデオカードはRDP経由で検出することが出来ません。"
    IDCHECKBOX_SKILLSNAP,           "スキルターゲットへのスナップのオンとオフを切り替えます。\n\nゲーム内: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "ハードウェアアクセラレーショングラフィックスのオンとオフを切り替えます。\n\nこれは問題のあるグラフィックスカードのためだけのオプションです。有効にすると、グラフィックスカードがグラフィック描画のために使用されることはありません。\n注: このオプションは低、一般レベルのユーザーには推奨されません。"
    IDINFOICON_VIDEO_MIRRORDRIVER,  "警告: ミラードライバが検出されました。\n\nあなたのグラフィックスカードはミラードライバが有効である場合、検出することが出来ません。これは不正なソフトウェアやリモート制御サーバーソフトウェア、VNCセッションが有効になっていることが原因です。"
    IDINFOICON_SOUND_MISSINGFILES,  "警告: 'Miles Sound System'のファイルが存在しないか破損しています。\n\n次のファイルの一部またはすべてが見つかりません: 'mss32.dll'、'mssfast.m3d'、'mp3dec.asi'。BGMは動作しない場合があります。"
    IDCHECKBOX_MONSTERHP,           "モンスターのHPの表示を切り替えます。\n\nゲーム内: /monsterhp"
    IDCHECKBOX_Q1,                  "F9のマウスマッピングを切り替えます。\n右クリックでF9ホットキーに割り当てられたスキルを使用することができます。\n\nゲーム内: /quickspell または /q1"
    IDCHECKBOX_Q2,                  "F7とF8のマウスマッピングを切り替えます。\nマウスホイールを上下に転がすことにより、F7とF8ホットキーに割り当てられたスキルを使用することができます。\n\nゲーム内: /quickspell2 または /q2"
    IDCHECKBOX_AURA2,               "オーラエフェクトのオンとオフを切り替えます。\nこのエフェクトは、あなたのベースレベルが最大になったときに表示されます。\n\nゲーム内: /aura2"
    IDCHECKBOX_BTG,                 "戦場アイコンのオンとオフを切り替えます。\n\nゲーム内: /btg"
    IDCHECKBOX_CASHSHOP,            "キャッシュショップアイコンのオンとオフを切り替えます。\n\nゲーム内: /cashshop"
    IDCHECKBOX_GOLDPC,              "PC Bang gold mining UIのオンとオフを切り替えます。\n\nゲーム内: /goldpc"
    IDCHECKBOX_ROULETTE,            "ルーレットアイコンのオンとオフを切り替えます。\n\nゲーム内: /roulette"
    IDCHECKBOX_QUAKE,               "画面が揺れるエフェクトのオンとオフを切り替えます。\n\nゲーム内: /quake"
    IDCHECKBOX_MABLE,               "にゃん魂のスキルエフェクトのオンとオフを切り替えます。\n\nゲーム内: /mable"
    IDCHECKBOX_ZOOM,                "ゲーム画面拡張 (ズームアウト) のオンとオフを切り替えます。\n\nゲーム内: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 チャンネル"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 チャンネル"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 チャンネル"
    TEXT_SOUNDMODE_NOSOUND,         "サウンドなし"
    TEXT_SOUNDMODE_2DSOUND,         "2Dサウンド"
    TEXT_SOUNDMODE_3DSOUND,         "3Dサウンド"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2個のスピーカー"
    TEXT_SPEAKERTYPE_HEADPHONE,     "ヘッドフォン"
    TEXT_SPEAKERTYPE_SURROUND,      "サラウンド"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4個のスピーカー"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 ビット"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 ビット"
    // tabs
    TEXT_TAB_GRAPHICS,              "画面"
    TEXT_TAB_SOUNDS,                "サウンド"
    TEXT_TAB_SETTINGS,              "設定"
    TEXT_TAB_ABOUT,                 "About"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "キャンセル"
    TEXT_DLG_APPLY,                 "適用"
    TEXT_DLG_GRAPHIC_SETTINGS,      "画面の設定"
    TEXT_DLG_GRAPHIC_DEVICE,        "ビデオカード:"
    TEXT_DLG_RESOLUTION,            "画面サイズ:"
    TEXT_DLG_OPTIONS,               "オプション:"
    TEXT_DLG_FULLSCREEN,            "フルスクリーンモード"
    TEXT_DLG_FOG,                   "霧エフェクト"
    TEXT_DLG_LIGHTMAP,              "光源処理エフェクト"
    TEXT_DLG_TRILINEAR_FILTER,      "トライリニアフィルタリング"
    TEXT_DLG_SPRITE_QUALITY,        "スプライト品質:"
    TEXT_DLG_TEXTURE_QUALITY,       "テクスチャー品質:"
    TEXT_DLG_TROUBLESHOOTING,       "トラブルシューティング"
    TEXT_DLG_VOODOO3_CARD,          "VooDoo3ビデオカード"
    TEXT_DLG_RESTRICT_MOUSE,        "ウィンドウ内にマウスを制限"
    TEXT_DLG_SOUND_SETTINGS,        "サウンド設定"
    TEXT_DLG_SOUND_MODE,            "サウンドモード:"
    TEXT_DLG_SPEAKER_TYPE,          "スピーカーの種類:"
    TEXT_DLG_CHANNELS,              "チャンネル:"
    TEXT_DLG_BITDEPTH,              "ビット深度:"
    TEXT_DLG_BITRATE,               "ビットレート:"
    TEXT_DLG_BGM_VOLUME,            "BGM音量:"
    TEXT_DLG_SOUND_VOLUME,          "効果音音量:"
    TEXT_DLG_MUTE,                  "ミュート"
    TEXT_DLG_GENERAL_SETTINGS,      "全般設定"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt設定"
    TEXT_DLG_MOUSE_FREEDOM,         "マウスの自由"
    TEXT_DLG_REMAP_MOUSE,           "マウスボタンを変更"
    TEXT_DLG_REMAP_ALTF4,           "Alt+F4を変更"
    TEXT_DLG_FREE_CPU,              "非アクティブ時にCPUを解放"
    TEXT_DLG_ALWAYS_ON_TOP,         "常に手前に"
    TEXT_DLG_LOCK_WINDOW,           "ウィンドウをロック"
    TEXT_DLG_CODEPAGE,              "文字コード:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "注: ROExtが検出されたため、このページのみが表示されます。"
    TEXT_DLG_ABOUT_OPENSETUP,       "%sについて"
    TEXT_DLG_LIST_CP_DEFAULT,       "(デフォルト)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (不明)"
    TEXT_DLG_COMMANDS,              "コマンド:"
    TEXT_DLG_RESET_RESTORE,         "既定値に戻す:"
    TEXT_DLG_RESET_WINDOWS,         "UIの位置と設定をデフォルトへリセット"
    TEXT_DLG_RESET_SKILLLV,         "スキルレベル選択をデフォルトへリセット"
    TEXT_DLG_RESET_FOLDER,          "クライアントが作成したユーザー設定を削除"
    TEXT_DLG_RESET_SETTING,         "全てのラグナロク関連の設定を削除 (初期設定へリセット)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "ハードウェアアクセラレーショングラフィックスを無効"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "動作モード"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "レジストリ"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - 希望するサイズにこのウィンドウサイズを変更してください"
    // error messages
    TEXT_ERROR__TITLE,              "エラー"
    TEXT_ERROR__TITLE_LUA,          "Luaエラー"
    TEXT_ERROR__SYSTEM_ERROR,       "システムエラー"
    TEXT_ERROR_INIT_MUTEX,          "相互排他の初期化に失敗しました。"
    TEXT_ERROR_INIT_COMCTL32,       "一般的なコントロールの初期化に失敗しました。"
    TEXT_ERROR_INIT_DIRECTX7,       "DirectX情報の取得が出来ませんでした。 DirectX7以降がインストールされていることを確認してください。"
    TEXT_ERROR_HKEY_CREATE,         "レジストリキーが作成できませんでした。"
    TEXT_ERROR_HKEY_WRITE,          "レジストリへの設定の書き込みに失敗しました。"
    TEXT_ERROR_HKEY_OPT_CREATE,     "オプション設定のレジストリキーを作成できませんでした。"
    TEXT_ERROR_HKEY_OPT_WRITE,      "レジストリへのオプション設定の書き込みに失敗しました。"
    TEXT_ERROR_FILE_WRITE,          "設定の書き込みに失敗しました。"
    TEXT_ERROR_FILE_OPEN_READONLY,  "設定ファイルに書き込むことが出来ませんでした。 ファイルは読み取り専用になっています。"
    TEXT_ERROR_FILE_OPEN,           "設定ファイルに書き込むことが出来ませんでした。"
    TEXT_ERROR_DIRECTORY_CREATE,    "ディレクトリ設定の作成に失敗しました。"
    TEXT_ERROR_ROEXT_WRITE,         "ROExt設定の書き込みに失敗しました。"
    TEXT_ERROR_IPC_FAILED,          "プロセス間通信に失敗しました。"
    TEXT_ERROR_UNKNOWN_ENGINE,      "選択した設定エンジンは存在しません。 (code=0x%08x)"
    TEXT_ERROR_INSANE_ENGINE,       "選択した設定エンジンは現在のインストール状態では設定の正しい読み込みと保存に干渉すると判断されました。\n\n詳細はopensetup.logを参照してください。"
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
