// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE DISCARDABLE
BEGIN
    // help string for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Controla o tipo de dispositivo gráfico a ser usado.\nNota: Será necessário atualizar os drivers da sua placa de video e DirectX* se a lista estiver vazia."
    IDCOMBOBOX_RESOLUTION,          "Controla o tamanho da janela quando em modo janela e a resolução da tela, quando em tela cheia."
    IDCOMBOBOX_SOUND_MODE,          "Controla o tipo de dispositivo de som a ser usado.\nSe desativado, os efeitos tanto de som quanto a música de fundo não vão funcionar."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Controla o tipo de alto-falantes em uso.\nAfeta o volume e a saída de som 3D."
    IDCOMBOBOX_SOUND_BITRATE,       "Controla a taxa de bits de sons.\nMais significa melhor qualidade de som, mas também maior utilização da CPU."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Controla a profundidade de bits de sons.\nMais significa melhor qualidade de som, mas também maior utilização da CPU."
    IDCOMBOBOX_SOUND_CHANNELS,      "Controla o canal de profundidade de sons.\nMais significa melhor qualidade de som, mas também maior utilização da CPU."
    IDCHECKBOX_FULLSCREEN,          "Altera o modo tela cheia do jogo em ligado e desligado.\nVocê pode querer desligar esta opção para jogar no modo janela, quando você quiser alternar entre programas durante o jogo."
    IDCHECKBOX_FOG,                 "Altera o efeito de névoa em ligado e desligado.\nO efeito de névoa é implementado para incorporar o clima dos campos.\nNota: Este efeito pode causar lentidão em usuários com baixa especificação de sistema e não é suportado por todas as placas gráficas.\n\nNo jogo: /fog"
    IDCHECKBOX_LIGHTMAP,            "Altera os efeitos de sombra em ligado e desligado.\nNota: Este efeito pode causar lentidão em usuários com baixa especificação de sistema.\n\nNo jogo: /lightmap"
    IDCHECKBOX_VOODOO,              "Ativa a detecção de usuários com placas de video VooDoo3.\nEsta opção é apenas para solução de problemas com placas de video."
    IDTRACKBAR_SPRITEQ,             "Controla a qualidade dos sprite.\nSprite são jogadores, monstros, itens e objetos similares. Mais significa melhor qualidade, mas também um uso maior de memória.\n\nNo jogo: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Controla a qualidade das texturas.\nTexturas são o chão dos mapas, superfícies de objetos 3D (casas) e loading screens. Mais significa melhor qualidade, mas também um uso maior de memória.\n\nNo jogo: Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "Altera efeito da aura em ligado e desligado.\nEste efeito é exibido quando você atingir o nível de base máximo para a sua classe.\n\nNo jogo: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Turns camera zooming em ligado e desligado.\nNota: Este efeito pode causar lentidão em usuários com baixa especificação de sistema.\n\nNo jogo: /camera"
    IDCHECKBOX_ISEFFECTON,          "Altera vários efeitos visuais especiais em ligado e desligado.\nNota: Efeitos habilitados podem causar lentidão em usuários com baixa especificação de sistema.\n\nNo jogo: /effect"
    IDCHECKBOX_ONHOUSERAI,          "AI customizada do Homúnculo.\nFaz com que o atual Homúnculo aja de acordo com AI\\USER_AI\\AI.lua ao invés de AI\\AI.lua.\n\nNo jogo: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Liga ou Desliga Snap para itens no chão.\n\nNo jogo: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Não são mostradas mensagens quando Membros da Guilda e Amigos se conectam ou desconectam do jogo.\n\nNo jogo: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "AI customizada do Assistente.\nFaz com que o atual Assistente aja de acordo com AI\\USER_AI\\AI_M.lua ao invés de AI\\AI_M.lua.\n\nNo jogo: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Liga ou Desliga a opção de mostrar 'Miss'.\nNota: Este efeito pode causar lentidão em usuários com baixa especificação de sistema.\n\nNo jogo: /miss"
    IDCHECKBOX_NOCTRL,              "Você pode atacar normalmente sem pressionar a tecla Ctrl.\n\nNo jogo: /noctrl ou /nc"
    IDCHECKBOX_NOSHIFT,             "Você pode usar habilidades sem a tecla shift.\n\nNo jogo: /noshift ou /ns"
    IDCHECKBOX_NOTRADE,             "Impede que negociações sejam feitas.\n\nNo jogo: /notrade ou /nt"
    IDCHECKBOX_SHOPPING,            "Clique no nome da loja para abri-la e clique com o botão direito para fechá-la.\n\nNo jogo: /shopping ou /sh"
    IDCHECKBOX_SNAP,                "Liga ou desliga snap para lutas.\n\nNo jogo: /snap"
    IDCHECKBOX_SKILLFAIL,           "Não mostre mensagem vermelha de falha na habilidade na tela.\n\nNo jogo: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Altera a conversa pública na janela de chat em ligado e desligado.\nA conversa pública ainda é mostrada sobre a cabeça dos personagens.\n\nNo jogo: /notalkmsg ou /nm"
    IDCHECKBOX_NOTALKMSG2,          "Altera toda conversa na janela de chat em ligado e desligado.\nA conversa ainda é mostrada sobre a cabeça dos personagens.\n\nNo jogo: /notalkmsg2 ou /nm2"
    IDCHECKBOX_SHOWNAME,            "Altera a fonte alternativa do nome do personagem em ligado e desligado.\nA fonte pode ser fina, exibindo todas as informações, ou negrito mostrando apenas o nome do grupo e da guilda.\n\nNo jogo: /showname"
    IDCHECKBOX_STATEINFO,           "Mostra informações ao passar o mouse sobre os ícones.\n\nNo jogo: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Altera a 'dica do dia' em ligado e desligado.\nDica do dia aparece cada vez que você entra no jogo e exibe várias dicas do jogo e descrições de comandos.\n\nNo jogo: /tip"
    IDCHECKBOX_WINDOW,              "Este comando faz com que as janelas 'grudem' uma com as outras.\n\nNo jogo: /window"
    IDTRACKBAR_STREAMVOLUME,        "Controla o volume da Música de Fundo.\n\nNo jogo: /bv <volume:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Controla o volume dos Efeitos Sonoros.\n\nNo jogo: /v <volume:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Liga ou Desliga a Música de Fundo (BGM).\nIsso afeta apenas músicas tocadas a partir da pasta BGM. Para desativar a música de habilidade tais como danças, desligue os efeitos sonoros.\n\nNo jogo: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Liga ou Desliga os Efeitos Sonoros.\n\nNo jogo: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "O mouse se moverá apenas dentro da tela do jogo. Liga/Desliga"
    IDCHECKBOX_TRILINEARFILTER,     "Altera a filtragem trilinear (suavização) em ligado e desligado. Desfoca todos os gráficos para conseguir um efeito suavização, mas pode fazer o texto mais difícil de ler.\n\nNo jogo: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Restaura a posição e as configurações padrão dos elementos de interface do usuário em todos os servidores durante o próximo save.\nNota: Essa ação não pode ser desfeita."
    IDCHECKBOX_RESETSKILLLV,        "Exclui todas informações do seletor de habilidades armazenados pra todos personagens em todos os servidores durante o próximo save.\n\nO espaço recuperado pode totalizar até algumas centenas de kilobytes de dados de registro para contas com uma história muito longa.\nNota: Essa ação não pode ser desfeita."
    IDCHECKBOX_RESETFOLDER,         "Exclui todos os dados de usuário criados pelo client.\n\nIsto irá apagar todas as imagens, conversas de bate-papo salvas e emblemas de guildas armazenados em cache na pasta onde está o OpenSetup\nNota: os arquivos são movidos para a lixeira, se possível."
    IDCHECKBOX_RESETSETTING,        "Apaga TODAS as configurações, restaurando a instalação padrão de fábrica, exceto para as correções recebidas.\n\nAs configurações serão perdidas e devem ser estabelecidas de novo. Normalmente você irá usar isso quando estiver prestes a desinstalar o jogo.\nNota: Essa ação não pode ser desfeita."
    IDINFOICON_VIDEO_REMOTESESSION, "Aviso: sessão remota de desktop (RDP) detectada.\n\nSua placa de video não pode ser detectada sobre RDP."
    IDCHECKBOX_SKILLSNAP,           "Altera o cursor de encaixe para as habilidades em ligado e desligado.\n\nNo jogo: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Altera a aceleração via hardware entre ligado e desligado.\n\nEsta opção é apenas para questões de resolução de problemas de placas de vídeo. Quando ativado, a placa de vídeo não será utilizado pelo cliente para renderização de gráficos.\nNota: Esta opção NÃO é recomendada para usuários com especificações baixa e média do sistema."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Aviso: Driver de espelho detectado.\n\nSua placa de vídeo não pode ser detectada quando um driver de espelho está ativo. Isso pode ser causado por uma sessão VNC ativa, software de controle remoto de servidor ou malware."
    IDINFOICON_SOUND_MISSINGFILES,  "Aviso: Arquivos do 'Miles Sound System' faltando ou danificados.\n\nEstá faltando alguns ou todos os seguintes arquivos: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. A música de fundo pode não funcionar."
    IDCHECKBOX_MONSTERHP,           "Altera a exibição do HP dos monstros entre ligada e desligada.\n\nIngame: /monsterhp"
    IDCHECKBOX_Q1,                  "Altera o mapeamento do mouse com F9 entre ligado e desligado.\nPermite que você use uma habilidade atribuída a tecla de atalho F9 com um clique com o botão direito.\n\nIngame: /quickspell ou /q1"
    IDCHECKBOX_Q2,                  "Altera o mapeamento do mouse com F7 e F8 entre ligado e desligado.\nPermite usar habilidades atribuídas às teclas de atalho F7 e F8 rolando a roda do mouse para cima e para baixo, respectivamente.\n\nIngame: /quickspell2 ou /q2"
    IDCHECKBOX_AURA2,               "Altera efeito da aura em ligado e desligado.\nEste efeito é exibido quando você atingir o nível de base máximo para a sua classe.\n\nNo jogo: /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\nNo jogo: /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\nNo jogo: /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\nNo jogo: /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\nNo jogo: /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\nNo jogo: /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\nNo jogo: /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\nNo jogo: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 Canais"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 Canais"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 Canais"
    TEXT_SOUNDMODE_NOSOUND,         "Sem áudio"
    TEXT_SOUNDMODE_2DSOUND,         "Usar som 2D"
    TEXT_SOUNDMODE_3DSOUND,         "Usar som 3D"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 Caixas de som"
    TEXT_SPEAKERTYPE_HEADPHONE,     "Fone de ouvido"
    TEXT_SPEAKERTYPE_SURROUND,      "Surround"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 Caixas de som"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 bit"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 bit"
    // tabs
    TEXT_TAB_GRAPHICS,              "Gráficos"
    TEXT_TAB_SOUNDS,                "Sons"
    TEXT_TAB_SETTINGS,              "Configurações"
    TEXT_TAB_ABOUT,                 "Sobre"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Cancelar"
    TEXT_DLG_APPLY,                 "Aplicar"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Definições Gráficas"
    TEXT_DLG_GRAPHIC_DEVICE,        "Dispositivo Gráfico:"
    TEXT_DLG_RESOLUTION,            "Resolução:"
    TEXT_DLG_OPTIONS,               "Opções:"
    TEXT_DLG_FULLSCREEN,            "Jogar em Tela Cheia"
    TEXT_DLG_FOG,                   "Habilitar Névoa"
    TEXT_DLG_LIGHTMAP,              "Usar Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "Filtragem Trilinear"
    TEXT_DLG_SPRITE_QUALITY,        "Qualidade do Sprite:"
    TEXT_DLG_TEXTURE_QUALITY,       "Qualidade da Textura:"
    TEXT_DLG_TROUBLESHOOTING,       "Solução de problemas"
    TEXT_DLG_VOODOO3_CARD,          "Detectar placas VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "Restringir o mouse na janela"
    TEXT_DLG_SOUND_SETTINGS,        "Definições de Som"
    TEXT_DLG_SOUND_MODE,            "Modo de Som:"
    TEXT_DLG_SPEAKER_TYPE,          "Tipo de Alto-falante:"
    TEXT_DLG_CHANNELS,              "Canais:"
    TEXT_DLG_BITDEPTH,              "Bitdepth:"
    TEXT_DLG_BITRATE,               "Bitrate:"
    TEXT_DLG_BGM_VOLUME,            "Volume da BGM:"
    TEXT_DLG_SOUND_VOLUME,          "Volume do Som:"
    TEXT_DLG_MUTE,                  "Mudo"
    TEXT_DLG_GENERAL_SETTINGS,      "Definições Gerais"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "Definições ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Remapear Botões do Mouse"
    TEXT_DLG_REMAP_ALTF4,           "Remapear Alt+F4"
    TEXT_DLG_FREE_CPU,              "Liberar CPU Quando Inativo"
    TEXT_DLG_ALWAYS_ON_TOP,         "Janela Sempre no Topo"
    TEXT_DLG_LOCK_WINDOW,           "Travar Janela"
    TEXT_DLG_CODEPAGE,              "Codificação de caracteres:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Nota: Esta página é exibida somente porque ROExt foi detectado."
    TEXT_DLG_ABOUT_OPENSETUP,       "Sobre %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(padrão)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (desconhecido)"
    TEXT_DLG_COMMANDS,              "Comandos"
    TEXT_DLG_RESET_RESTORE,         "Restaurar Padrões"
    TEXT_DLG_RESET_WINDOWS,         "Redefinir posição da UI e as configurações para o padrão"
    TEXT_DLG_RESET_SKILLLV,         "Redefinir seletores de nível de habilidade para o padrão"
    TEXT_DLG_RESET_FOLDER,          "Excluir os dados do usuário criados pelo client"
    TEXT_DLG_RESET_SETTING,         "Excluir todas configurações relacionadas ao Ragnarok (configuração original)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Desabilitar aceleração via hardware"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - redimensionar a janela para o tamanho desejado"
    // error messages
    TEXT_ERROR__TITLE,              "Erro"
    TEXT_ERROR__TITLE_LUA,          "Erro Lua"
    TEXT_ERROR__SYSTEM_ERROR,       "Erro de Sistema"
    TEXT_ERROR_INIT_MUTEX,          "Falha ao inicializar o mutex."
    TEXT_ERROR_INIT_COMCTL32,       "Falha ao inicializar os controles comuns."
    TEXT_ERROR_INIT_DIRECTX7,       "Falha ao obter informações do DirectX. Certifique-se de que o DirectX 7 ou mais recente está instalado."
    TEXT_ERROR_HKEY_CREATE,         "Falha ao criar configurações na chave de registro."
    TEXT_ERROR_HKEY_WRITE,          "Falha ao escrever configurações no registro."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Falha ao criar configurações de opção na chave de registro."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Falha ao escrever configurações de opção no registro."
    TEXT_ERROR_FILE_WRITE,          "Falha ao escrever configurações."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Falha ao abrir o arquivo de configurações para a escrita. Arquivo está marcado como somente leitura."
    TEXT_ERROR_FILE_OPEN,           "Falha ao abrir o arquivo de configurações para a escrita."
    TEXT_ERROR_DIRECTORY_CREATE,    "Falha ao criar pasta de configurações."
    TEXT_ERROR_ROEXT_WRITE,         "Falha ao escrever configurações do ROExt."
    TEXT_ERROR_IPC_FAILED,          "Processo inter-comunicação falhou."
    TEXT_ERROR_UNKNOWN_ENGINE,      "As configurações selecionadas de engine não existem (code=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "O mecanismo de configurações determinou que o estado da sua instalação irá interferir com o correto carregamento e salvamento das configurações.\n\nVeja opensetup.log para detalhes."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
