// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
//
// -----------------------------------------------------------------

#ifndef SUBLANG_RUSSIAN_RUSSIA
    #define SUBLANG_RUSSIAN_RUSSIA 0x01
#endif
LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "Выбор типа графического устройства.\nВнимание: Если поле пустое, то нужно обновить DirectX и драйверы для видеокарты."
    IDCOMBOBOX_RESOLUTION,          "Выбор разрешения экрана в полноэкранном режиме или размеров окна в оконном режиме."
    IDCOMBOBOX_SOUND_MODE,          "Выбор аудио режима.\nПри выборе 'Без звука' отключаются и звуковые эффекты и фоновая музыка."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "Выбор аудио устройства.\nВлияет на громкость и 3D-вывод."
    IDCOMBOBOX_SOUND_BITRATE,       "Управление битрейтом звука.\nЧем выше значение, тем лучше качество звука и большее употребление ресурсов ЦП."
    IDCOMBOBOX_SOUND_BITDEPTH,      "Управление битовая глубина звука.\nЧем выше значение, тем лучше качество звука и большее употребление ресурсов ЦП."
    IDCOMBOBOX_SOUND_CHANNELS,      "Управление количеством аудио каналов.\nЧем выше значение, тем лучше качество звука и большее употребление ресурсов ЦП."
    IDCHECKBOX_FULLSCREEN,          "Включение и отключение полноэкранного режима.\nОтключите опцию, если хотите играть в оконном режиме и быстро переключаться между программами."
    IDCHECKBOX_FOG,                 "Включение и отключение эффекта тумана.\nЭффект тумана - часть погодных эффектов.\nВнимание: Эффект требователен к ресурсам, к тому же он несовместим с некоторыми видеокартами.\n\nВ игре: /fog"
    IDCHECKBOX_LIGHTMAP,            "Включение и отключение теней.\nВнимание: Эффект требователен к ресурсам.\n\nВ игре: /lightmap"
    IDCHECKBOX_VOODOO,              "Включение и отключение хака для видеокарт VooDoo3.\nОпция предназначена для поиска проблем с видеокартой."
    IDTRACKBAR_SPRITEQ,             "Управление качеством спрайтов.\nСпрайты - 2D изображения персонажей, монстров, предметов и т.п. Чем выше значение, тем лучше качество и большее употребление памяти.\n\nВ игре: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "Управление качеством текстур.\nТекстуры - поверхность локаций и 3D объектов, а также экраны загрузок. Чем выше значение, тем лучше качество и большее употребление памяти.\n\nВ игре: Alt+D"
    IDCHECKBOX_AURA,                "Включение и отключение упрощения эффекта ауры.\nЭффект отображается при получении персонажем максимального уровня.\n\nВ игре: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "Включение и отключение масштабирования камеры.\nВнимание: Требовательно к ресурсам.\n\nВ игре: /camera"
    IDCHECKBOX_ISEFFECTON,          "Включение и отключение различных визуальных эффектов.\nВнимание: Требовательно к ресурсам.\n\nВ игре: /effect"
    IDCHECKBOX_ONHOUSERAI,          "Включение и отключение пользовательского ИИ гомункулов.\nСкрипты гомункулов будут читаться из AI\\USER_AI\\AI.lua вместо AI\\AI.lua.\n\nВ игре: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "Включение и отключение автонаведения курсора поднятия предметов.\n\nВ игре: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "Включение и отключение уведомлений об изменениях статуса онлайна друзей и согильдийцев.\n\nВ игре: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "Включение и отключение пользовательского ИИ наемников.\nСкрипты наемников будут читаться из AI\\USER_AI\\AI_M.lua вместо AI\\AI_M.lua.\n\nВ игре: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "Включение и отключение эффекта промаха.\nИзобразится надпись 'Miss' когда вы (красным цветом) или ваш враг (белым цветом) промахиваетесь.\nВнимание: Эффект требователен к ресурсам.\n\nВ игре: /miss"
    IDCHECKBOX_NOCTRL,              "Включение и отключение автоатаки.\nВключает автоатаку, избавляя таким образом от необходимости держать клавишу CTRL.\n\nВ игре: /noctrl или /nc"
    IDCHECKBOX_NOSHIFT,             "Включение и отключение опции No-SHIFT.\nПозволяет кастовать бафы на врагов без нажатия клавиши SHIFT.\n\nВ игре: /noshift или /ns"
    IDCHECKBOX_NOTRADE,             "Включение и отключение автоотклонения сделок.\n\nВ игре: /notrade или /nt"
    IDCHECKBOX_SHOPPING,            "Включение и отключение 'режима покупок'.\nПозволяет открывать пользовательский магазин по нажатию ЛКМ и закрывать его по нажатию ПКМ.\n\nВ игре: /shopping или /sh"
    IDCHECKBOX_SNAP,                "Включение и отключение автонаведения курсора атаки.\n\nВ игре: /snap"
    IDCHECKBOX_SKILLFAIL,           "Включение и отключение уведомлений о неудачном использовании умений.\n\nВ игре: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "Включение и отключение общего чата.\nСообщения игроков будут показываться только над их головами.\n\nВ игре: /notalkmsg или /nm"
    IDCHECKBOX_NOTALKMSG2,          "Включение и отключение всех чатов.\nСообщения игроков будут показываться только над их головами.\n\nВ игре: /notalkmsg2 или /nm2"
    IDCHECKBOX_SHOWNAME,            "Переключение между стилями шрифта для написания ников.\nШрифт может быть тонким и тогда вся информация о игроке будет отображаться, или полужирным, отключая отображение названий гильдий и групп.\n\nВ игре: /showname"
    IDCHECKBOX_STATEINFO,           "Включение и отключение описания статусных иконок.\nПозволяет увидеть короткое описание статуса при наведении на его иконку.\n\nВ игре: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "Включение и отключение 'Подсказок дня'.\nПодсказка дня отображается при входе персонажа в игру и содержит игровые подсказки или описания некоторых команд.\n\nВ игре: /tip"
    IDCHECKBOX_WINDOW,              "Включение и отключение 'склеивания' окон.\nОкна 'склеиваются' если при перетаскивании их границы оказались рядом.\n\nВ игре: /window"
    IDTRACKBAR_STREAMVOLUME,        "Управление громкостью фоновой музыки.\n\nВ игре: /bv <значение:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "Управление громкостью звуковых эффектов.\n\nВ игре: /v <значение:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "Включение и отключение фоновой музыки.\nВлияет только на музыку из папки BGM. Если хотите отключить музыку от некоторых умений (например танцевальных), то отключите звуковые эффекты.\n\nВ игре: /bgm"
    IDCHECKBOX_ISSOUNDON,           "Включение и отключение звуковых эффектов.\n\nВ игре: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "Включение и отключение ограничения движений курсора окном игры.\n\nОграничение действует пока активно окно игры. Клавиша 'Windows' или сочетание Alt+Tab сделают окно неактивным.\nВнимание: это то же самое, что и ROExt's Mouse Freedom."
    IDCHECKBOX_TRILINEARFILTER,     "Включение и отключение трилинейной фильтрации (сглаживания). Размытие графики позволяет достичь эффекта сглаживания, с другой стороны, возможно, некоторый текст будет нечитаем.\n\nВ игре: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "Восстанавливает значения по умолчанию позиций и настроек внутриигровых элементов интерфейса пользователя для всех серверов при следующем сохранении.\nВнимание: Это действие не может быть отменено."
    IDCHECKBOX_RESETSKILLLV,        "Удаление данных об уровне умений в древе умений для всех персонажей на всех серверах при следующем сохранении.\n\nМожет освободить до нескольких сотен килобайт данных реестра для аккаунтов с длинной историей.\nВнимание: Это действие не может быть отменено."
    IDCHECKBOX_RESETFOLDER,         "Удаление всех данных пользователя, созданных клиентом игры.\n\nЭто действие удалит скриншоты, сохраненную переписку и кешированные эмблемы гильдий из папки где расположена программа OpenSetup.\nВнимание: Файлы перемещаются в корзину, если это возможно."
    IDCHECKBOX_RESETSETTING,        "Удаление ВСЕХ настроек, возвращение к заводским настройкам по умолчанию, исключая установленные обновления.\n\nНастройки будут стерты и переписаны. Может быть использовано, если собираетесь удалить игру.\nВнимание: Это действие не может быть отменено."
    IDINFOICON_VIDEO_REMOTESESSION, "Важно: обнаружена сессия удаленного рабочего стола.\n\nНевозможно определить Вашу видеокарту при активной сессии."
    IDCHECKBOX_SKILLSNAP,           "Включение и отключение автонаведения курсора при использовании умений.\n\nВ игре: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "Включение и отключение аппаратного ускорения графики.\n\nЭта опция предназначена только для поиска и исправления проблем с видеокартой. При включении видеокарты не используется клиентом игры при рендеринге.\nВнимание: Эта опция НЕ рекомендуется для использования на компьютерах со слабыми и средними характеристиками."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "Важно: Обнаружен зеркальный драйвер.\n\nНевозможно определить Вашу видеокарту при включенном зеркальном драйвере. Это может быть вызвано активной сессией VNC, ПО удаленного управления сервером или вредоносным ПО."
    IDINFOICON_SOUND_MISSINGFILES,  "Важно: Недостающие или поврежденные файлы 'Miles Sound System'.\n\nНе обнаружено одного или всех из следующих файлов: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. Фоновая музыка может не работать."
    IDCHECKBOX_MONSTERHP,           "Включение и отключение отображения здоровья монстров.\n\nВ игре: /monsterhp"
    IDCHECKBOX_Q1,                  "Включение и отключение переназначения клавиши F9 на мышь.\nПозволяет использовать умение, назначенное на F9, нажатием правой кнопки мыши.\n\nВ игре: /quickspell или /q1"
    IDCHECKBOX_Q2,                  "Включение и отключение переназначения клавиш F7 и F8 на мышь.\nПозволяет использовать умения, назначенные на F7 и F8, прокруткой колеса мыши вверх и вниз соответственно.\n\nВ игре: /quickspell2 или /q2"
    IDCHECKBOX_AURA2,               "Включение и отключение эффекта ауры.\nЭффект отображается при получении персонажем максимального уровня.\n\nВ игре: /aura2"
    IDCHECKBOX_BTG,                 "Включение и отключение иконки Battle Grounds.\n\nВ игре: /btg"
    IDCHECKBOX_CASHSHOP,            "Включение и отключение иконки Cash Shop.\n\nВ игре: /cashshop"
    IDCHECKBOX_GOLDPC,              "Включение и отключение пользовательского интерфейса PC Bang.\n\nВ игре: /goldpc"
    IDCHECKBOX_ROULETTE,            "Включение и отключение иконки рулетки.\n\nВ игре: /roulette"
    IDCHECKBOX_QUAKE,               "Включение и отключение эффекта тряски экрана.\n\nВ игре: /quake"
    IDCHECKBOX_MABLE,               "Включение и отключение эффекта Spirit Marble.\n\nВ игре: /mable"
    IDCHECKBOX_ZOOM,                "Включение и отключение расширения представления об игре.\n\nВ игре: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 каналов"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 канала"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 каналов"
    TEXT_SOUNDMODE_NOSOUND,         "Без звука"
    TEXT_SOUNDMODE_2DSOUND,         "Использовать 2D звук"
    TEXT_SOUNDMODE_3DSOUND,         "Использовать 3D звук"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 КОЛОНКИ"
    TEXT_SPEAKERTYPE_HEADPHONE,     "НАУШНИКИ"
    TEXT_SPEAKERTYPE_SURROUND,      "ОБЪЕМНЫЙ ЗВУК"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 КОЛОНКИ"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 бит"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 бит"
    // tabs
    TEXT_TAB_GRAPHICS,              "Графика"
    TEXT_TAB_SOUNDS,                "Звук"
    TEXT_TAB_SETTINGS,              "Настройки"
    TEXT_TAB_ABOUT,                 "О программе"
    // dialog items
    TEXT_DLG_OK,                    "OK"
    TEXT_DLG_CANCEL,                "Отмена"
    TEXT_DLG_APPLY,                 "Применить"
    TEXT_DLG_GRAPHIC_SETTINGS,      "Графические Настройки"
    TEXT_DLG_GRAPHIC_DEVICE,        "Графическое устройство:"
    TEXT_DLG_RESOLUTION,            "Разрешение:"
    TEXT_DLG_OPTIONS,               "Опции:"
    TEXT_DLG_FULLSCREEN,            "Полноэкранный Режим"
    TEXT_DLG_FOG,                   "Включить Туман"
    TEXT_DLG_LIGHTMAP,              "Использовать Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "Трилинейная Фильтрация"
    TEXT_DLG_SPRITE_QUALITY,        "Качество Спрайтов:"
    TEXT_DLG_TEXTURE_QUALITY,       "Качество текстур:"
    TEXT_DLG_TROUBLESHOOTING,       "Решение проблем"
    TEXT_DLG_VOODOO3_CARD,          "Видеокарта VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "Ограничить мышь окном"
    TEXT_DLG_SOUND_SETTINGS,        "Настройки Звука"
    TEXT_DLG_SOUND_MODE,            "Аудио Режим:"
    TEXT_DLG_SPEAKER_TYPE,          "Тип Аудио Устройства:"
    TEXT_DLG_CHANNELS,              "Каналы:"
    TEXT_DLG_BITDEPTH,              "битовая глубина звука:"
    TEXT_DLG_BITRATE,               "битрейт звука:"
    TEXT_DLG_BGM_VOLUME,            "Громкость BGM:"
    TEXT_DLG_SOUND_VOLUME,          "Громкость Эффектов:"
    TEXT_DLG_MUTE,                  "Выкл."
    TEXT_DLG_GENERAL_SETTINGS,      "Основные Настройки"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "Настройки ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "Mouse Freedom"
    TEXT_DLG_REMAP_MOUSE,           "Переназначить кнопки мыши"
    TEXT_DLG_REMAP_ALTF4,           "Переназначить Alt+F4"
    TEXT_DLG_FREE_CPU,              "Не нагружать ЦП, если окно неактивно"
    TEXT_DLG_ALWAYS_ON_TOP,         "Поверх остальных окон"
    TEXT_DLG_LOCK_WINDOW,           "Закрепить положение окна"
    TEXT_DLG_CODEPAGE,              "Кодировка:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "Внимание: Эта вкладка появляется только при обнаружении ROExt."
    TEXT_DLG_ABOUT_OPENSETUP,       "О программе %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(по умолчанию)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (неизвестно)"
    TEXT_DLG_COMMANDS,              "Комманды"
    TEXT_DLG_RESET_RESTORE,         "Восстановить значения по умолчанию"
    TEXT_DLG_RESET_WINDOWS,         "Сброс настроек и позиций элементов интерфейса"
    TEXT_DLG_RESET_SKILLLV,         "Сброс значений уровней древа навыков по умолчанию"
    TEXT_DLG_RESET_FOLDER,          "Удаление пользовательских данных, созданных клиентом"
    TEXT_DLG_RESET_SETTING,         "Удаление ВСЕХ настроек игры (сброс к заводским настройкам)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "Отключение аппаратного ускорения графики"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "Реестр"
    TEXT_DLG_ENGINE_LUA,            "Lua"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Телеметрия"
    TEXT_DLG_VIDEOTEST,             "Тестовый настройки"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - изменить размер окна до нужного"
    // error messages
    TEXT_ERROR__TITLE,              "Ошибка"
    TEXT_ERROR__TITLE_LUA,          "Ошибка Lua"
    TEXT_ERROR__SYSTEM_ERROR,       "Системная Ошибка"
    TEXT_ERROR_INIT_MUTEX,          "Не удалось инициализировать мьютекс."
    TEXT_ERROR_INIT_COMCTL32,       "Не удалось инициализировать основное управление."
    TEXT_ERROR_INIT_DIRECTX7,       "Не удалось получить информацию о DirectX. Убедитесь, что установлена версия DirectX 7 или новее."
    TEXT_ERROR_HKEY_CREATE,         "Не удалось создать раздел параметров в реестре."
    TEXT_ERROR_HKEY_WRITE,          "Не удалось записать настройки в реестр."
    TEXT_ERROR_HKEY_OPT_CREATE,     "Не удалось создать ключ опции параметров в реестре."
    TEXT_ERROR_HKEY_OPT_WRITE,      "Не удалось записать опцию параметров в реестр."
    TEXT_ERROR_FILE_WRITE,          "Не удалось сохранить настройки."
    TEXT_ERROR_FILE_OPEN_READONLY,  "Не удалось открыть файл настроек для записи. Файл только для чтения."
    TEXT_ERROR_FILE_OPEN,           "Не удалось открыть файл настроек для записи."
    TEXT_ERROR_DIRECTORY_CREATE,    "Не удалось создать папку для настроек."
    TEXT_ERROR_ROEXT_WRITE,         "Не удалось сохранить ROExt настройки."
    TEXT_ERROR_IPC_FAILED,          "Ошибка межпроцессного взаимодействия."
    TEXT_ERROR_UNKNOWN_ENGINE,      "Выбранный механизм настроек не существует (code=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Выбранный механизм настроек определен таким образом, что Ваше состояние установки будет мешать правильной загрузке и сохранению настроек.\n\nОткройте opensetup.log для получения подробностей."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Обнаружен запущенный клиент RagnarokOnline, изменения в настройках, выполненние с помощью этого приложения, могут быть перезаписанные клиентом.\n\nВы все равно хотите продолжить?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
