// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// Thai (th_TH) translation for RagnarokOnline OpenSetup
// by iSuzutsuki
// -----------------------------------------------------------------
#ifndef SUBLANG_THAI_THAILAND
    #define SUBLANG_THAI_THAILAND 0x01
#endif
LANGUAGE LANG_THAI, SUBLANG_THAI_THAILAND

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "ควบคุมประเภทของอุปกรณ์กราฟิกที่จะใช้\nNote: คุณต้องอัพเดตไดรฟ์เวอร์การ์ดจอและ DirectX ของคุณหากรายการนี้ว่าง"
    IDCOMBOBOX_RESOLUTION,          "ควบคุมขนาดของหน้าต่างเมื่ออยู่ในโหมดหน้าต่างและความละเอียดเมื่ออยู่ในโหมดเต็มหน้าจอ."
    IDCOMBOBOX_SOUND_MODE,          "ควบคุมประเภทของอุปกรณ์เสียงที่จะใช้\nถ้าคุณปิดตัวเลือกนี้ ทั้งเสียงพื้นหลังและเสียงเอฟเฟคจะไม่ทำงาน"
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "ควบคุมประเภทของลำโพงที่จะใช้.\nมีผลกับความดังและเอาท์พุตเสียง 3D"
    IDCOMBOBOX_SOUND_BITRATE,       "ควบคุมบิทเรทของเสียง\nค่ามากขึ้นจะทำให้เสียงมีคุณภาพมากขึ้น แต่จะใช้ CPU มากตามไปด้วย"
    IDCOMBOBOX_SOUND_BITDEPTH,      "ควบคุมความลึกของเสียง (Bit-Depth)\nค่ามากขึ้นจะทำให้เสียงมีคุณภาพมากขึ้น แต่จะใช้ CPU มากตามไปด้วย"
    IDCOMBOBOX_SOUND_CHANNELS,      "ควบคุมความลึกของช่องเสียง (Channel-Depth).\nค่ามากขึ้นจะทำให้เสียงมีคุณภาพมากขึ้น แต่จะใช้ CPU มากตามไปด้วย"
    IDCHECKBOX_FULLSCREEN,          "เปิด/ปิด โหมดเต็มจอ\nคุณอาจต้องการปิดตัวเลือกนี้เพื่อเล่นในโหมดหน้าต่างเมื่อคุณต้องการสลับหน้าจอ"
    IDCHECKBOX_FOG,                 "เปิด/ปิด เอฟเฟคหมอก\nเอฟเฟคหมอกถูกทำให้ทำงานได้เพื่อให้เกิดสภาพภูมิอากาศในแผนที่\nNote: เอฟเฟคนี้อาจเป็นภาระการประมวลผลสำหรับเครื่องที่มีสเป็คต่ำและอาจไม่ถูกรองรับในการ์ดจอทุกประเภท\n\nในเกม: /fog"
    IDCHECKBOX_LIGHTMAP,            "เปิด/ปิด เอฟเฟคเงา\nNote: เอฟเฟคนี้อาจเป็นภาระการประมวลผลสำหรับเครื่องที่มีสเป็คต่ำ\n\nในเกม: /lightmap"
    IDCHECKBOX_VOODOO,              "เปิด/ปิด การแฮ็คการ์ดจอ VooDoo3\nตัวเลือกนี้สำหรับการแก้ไขปัญหาการ์ดจอเท่านั้น"
    IDTRACKBAR_SPRITEQ,             "ควบคุมคุณภาพของสไปรท์\nกราฟิกที่เป็นสไปรท์คือตัวละครผู้เล่น มอนสเตอร์ ไอเทมและวัตถุที่คล้ายกัน ค่าที่มากขึ้นจะทำให้คุณภาพสูงขึ้นแต่จะใช้หน่วยความจำมากขึ้น\n\nในเกม: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "ควบคุมคุณภาพของเทคเจอร์\nเทคเจอร์คือพื้นของแผนที่ พืนผิวของวัตถุ 3D เช่นบ้าน และภาพในหน้าโหลด  ค่าที่มากขึ้นจะทำให้คุณภาพสูงขึ้นแต่จะใช้หน่วยความจำมากขึ้น\n\nในเกม: Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "เปิด/ปิด เอฟเฟคออร่า.\nเอฟเฟคนี้จะแสดงเมื่อคุณไปถึงระดับสูงสุดของอาชีพคุณ\n\nในเกม: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "เปิด/ปิด การซูมกล้อง\nหมายเหตุ: นี่อาจเป็นภาระสำหรับผู้ใช้สเป็คต่ำ\n\nในเกม: /camera"
    IDCHECKBOX_ISEFFECTON,          "เปิด/ปิด เอฟเฟคพิเศษต่างๆ\nNote: การเปิดเอฟเฟคอาจเป็นภาระสำหรับผู้ใช้สเป็คต่ำ\n\nในเกม: /effect"
    IDCHECKBOX_ONHOUSERAI,          "เปิด/ปิด AI ที่ผู้เล่นแก้ไขเองสำหรับโฮมุนคลูส\nทำให้โฮมุนคลูสทำตามสคริป AI\\USER_AI\\AI.lua แทนที่จะเป็น AI\\AI.lua \n\nในเกม: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "เปิด/ปิด การจับเคอร์เซอร์สำหรับไอเทม\n\nในเกม: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "เปิด/ปิด การแจ้งเตือนเมื่อสมาชิกกิลด์หรือเพื่อนออนไลน์หรือออฟไลน์\n\nในเกม: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "เปิด/ปิด ที่ผู้เล่นแก้ไขเองสำหรับทหารรับจ้าง\nทำให้ทหารรับจ้างทำตามสคริป AI\\USER_AI\\AI_M.lua แทนที่จะเป็น AI\\AI_M.lua\n\nในเกม: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "เปิด/ปิด เอฟเฟคเมื่อโจมตีพลาด\nแสดงข้อความ 'Miss' สีแดงเมื่อคุณโจมตีพลาดหรือสีขาวเมื่อคู่ต่อสู้โจมตีพลาด\nหมายเหตุ: นี่อาจเป็นภาระสำหรับผู้ใช้สเป็คต่ำ\n\nในเกม: /miss"
    IDCHECKBOX_NOCTRL,              "เปิด/ปิด การโจมตีอัตโนมัติ\nทำให้คุณโจมตีศัตรูอัตโนมัติโดยไม่ต้องกด CTRL ค้างไว้\n\nในเกม: /noctrl หรือ /nc"
    IDCHECKBOX_NOSHIFT,             "เปิด/ปิด การบังคับฮีล\nทำให้คุณบังคับฮีลได้โดยไม่ต้องกด SHIFT ค้างไว้\n\nในเกม: /noshift หรือ /ns"
    IDCHECKBOX_NOTRADE,             "เปิด/ปิด การปฏิเสธการแลกเปลี่ยนอัตโนมัติ\n\nในเกม: /notrade หรือ /nt"
    IDCHECKBOX_SHOPPING,            "เปิด/ปิด โหมดช็อปปิ้ง\nทำให้คุณสามารถเปิดร้านด้วยการคลิกครั้งเดียวและปิดด้วยการคลิกขวา\n\nในเกม: /shopping หรือ /sh"
    IDCHECKBOX_SNAP,                "เปิด/ปิด การจับเคอร์เซอร์สำหรับการโจมตีเพื่อความสะดวก\n\nในเกม: /snap"
    IDCHECKBOX_SKILLFAIL,           "เปิด/ปิด ข้อความเมื่อใช้ทักษะล้มเหลว\n\nในเกม: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "เปิด/ปิด ข้อความพูดคุยสาธารณะ\nข้อความพูดคุยจะยังถูกแสดงบนหัวของตัวละคร\n\nในเกม: /notalkmsg หรือ /nm"
    IDCHECKBOX_NOTALKMSG2,          "เปิด/ปิด แชททั้งหมดในหน้าต่างแชท\nข้อความพูดคุยจะยังถูกแสดงบนหัวของตัวละคร\n\nในเกม: /notalkmsg2 หรือ /nm2"
    IDCHECKBOX_SHOWNAME,            "เปิด/ปิด ฟอนต์ทางเลือกสำหรับชื่อตัวละคร\nฟอนต์จะเป็นแบบบางที่แสดงข้อมูลทุกอย่าง หรือฟอนต์หนาแต่แสดงทุกอย่างยกเว้นชื่อปาร์ตี้และชื่อกิลด์\n\nในเกม: /showname"
    IDCHECKBOX_STATEINFO,           "เปิด/ปิด คำอธิบายสถานะต่างๆ ของตัวละคร\nทำให้คุณสามารถดูคำอธิบายของสถานะต่างๆ ได้เมื่อนำเมาส์ไปวาง\n\nในเกม: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "เปิด/ปิด 'คำแนะนำประจำวัน'\nคำแนะนำประจำวันจะแสดงทุกครั้งที่อยู่ในเกมโดยแสดงคำแนะนำการเล่นหรือคำสั่งต่างๆ\n\nในเกม: /tip"
    IDCHECKBOX_WINDOW,              "เปิด/ปิด การเกาะติดของหน้าต่าง\nทำให้หน้าต่างเคลื่อนที่ติดกันเมื่อคุณลากมันมาด้วยกัน\n\nในเกม: /window"
    IDTRACKBAR_STREAMVOLUME,        "ควบคุมความดังของเสียงพื้นหลัง\n\nในเกม: /bv <ความดัง:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "ควบคุมความดังของเสียงเอฟเฟค\n\nในเกม: /v <ความดัง:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "เปิด/ปิด เสียงพื้นหลัง (BGM)\nตัวเลือกนี้มีผลกับเสียงจากโฟลเดอร์ BGM เท่านั้น หากคุณต้องการปิดเสียงเพลงจากสกิล กรุณาปิดเสียงเอฟเฟค\n\nในเกม: /bgm"
    IDCHECKBOX_ISSOUNDON,           "เปิด/ปิด เสียงเอฟเฟค\n\nในเกม: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "เปิด/ปิด การจับเมาส์\n\ทำให้เมาส์อยู่ในหน้าต่างเกมเท่านั้น หากต้องการนำเมาส์ออกกรุณากด Alt+Tab หรือ Windows Key\nหมายเหตุ: ตัวเลือกนี้มีผลเหมือน Mouse Freedom ของ ROExt"
    IDCHECKBOX_TRILINEARFILTER,     "เปิด/ปิด การใช้ฟิลเตอร์ trilinear เบลอกราฟิกเพื่อให้ดูนุ่มนวล แต่อาจทำให้อ่านข้อความยากขึ้น\n\nในเกม: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "คืนค่าตำแหน่งที่อยู่และการตั้งค่าของอินเตอร์เฟสสำหรับทุกเซิร์ฟเวอร์หลังการเซฟครั้งต่อไป\nหมายเหตุ: การกระทำนี้ไม่สามารถย้อนกลับได้"
    IDCHECKBOX_RESETSKILLLV,        "ลบข้อมูลระดับสกิลในตารางสกิล\n\nพื้นที่ที่ได้กลับมาอาจมีขนาดหลายร้อย KB ในบัญชีที่มีประวัตินานมาก\nNote: การกระทำนี้ไม่สามารถย้อนกลับได้"
    IDCHECKBOX_RESETFOLDER,         "ลบข้อมูลทั้งหมดที่ถูกสร้างโดยไคล์เอนต์\n\nนี่จะลบสกรีนช็อต ประวัติแชท และรูปกิลจากโฟลเดอร์ที่ OpenSetup อยู่\nNote: ไฟล์จะถูกย้ายลง Recycle Bin ถ้าเป็นไปได้"
    IDCHECKBOX_RESETSETTING,        "ลบการตั้งค่าทั้งหมด คืนค่าทุกอย่างเป็นค่าเริ่มต้น ยกเว้นที่ได้จากแพทซ์\n\nการตั้งค่าจะหายไปและจำเป็นต้องตั้งใหม่ ปกติคุณจะใช้มันเมื่อคุณกำลังจะลบเกม\nหมายเหตุ: การกระทำนี้ไม่สามารถย้อนกลับได้"
    IDINFOICON_VIDEO_REMOTESESSION, "คำเตือน: ตรวจพบการควบคุมระยะไกล\n\nการ์ดจอของคุณไม่สามารถถูกตรวจพบได้เมื่ออยู่บนการควบคุมระยะไกล"
    IDCHECKBOX_SKILLSNAP,           "เปิด/ปิด การจับเคอร์เซอร์สำหรับสกิล\n\nในเกม: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "เปิด/ปิด การเร่งความเร็วกราฟิกโดยฮาร์ดแวร์\n\nตัวเลือกนี้สำหรับการแก้ไขปัญหากราฟิกเท่านั้น เมื่อถูกเปิดใช้งาน การ์ดจอจะไม่ถูกใช้งานโดยตัวเกมสำหรับการเรนเดอร์กราฟิก\nหมายเหตุ: ตัวเลือกนี้ไม่เหมาะสำหรับผู้ใช้สเป็คทั่วไปและปานกลาง"
    IDINFOICON_VIDEO_MIRRORDRIVER,  "คำเตือน: ตรวจพบ Mirror driver\n\nการ์ดจอของคุณไม่สามารถถูกตรวจพบเมื่อ Mirror driver กำลังทำงาน นี่อาจเกิดจากเซสซั่น VNC การควบคุมระยะไกล หรือมัลแวร์"
    IDINFOICON_SOUND_MISSINGFILES,  "คำเตือน: ตรวจไม่พบ 'Miles Sound System' หรือไฟล์เสีย\n\nคุณไม่มีไฟล์ใดไฟล์หนึ่งในไฟล์เหล่านี้: 'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'. เพลงพื้นหลังอาจไม่ทำงาน"
    IDCHECKBOX_MONSTERHP,           "เปิด/ปิด การแสดง HP มอนสเตอร์\n\nในเกม: /monsterhp"
    IDCHECKBOX_Q1,                  "เปิด/ปิด การใช้งานF9 ด้วยเมาส์\nคุณสามารถใช้สกิลที่ถูกตั้งไว้บนคีย์ลัด F9 ด้วยการคลิกขวา\n\nในเกม: /quickspell หรือ /q1"
    IDCHECKBOX_Q2,                  "เปิด/ปิด การใช้งาน F7/F8 ด้วยเมาส์\nทำให้คุณสามารถใช้สกิลที่ถูกตั้งไว้บนคีย์ลัด F7และF8 ด้วยการหมุนลูกกลิ้งเมาส์ไปด้านบนและล่างตามลำดับ\n\nในเกม: /quickspell2 หรือ /q2"
    IDCHECKBOX_AURA2,               "เปิด/ปิด เอฟเฟคออร่า.\nเอฟเฟคนี้จะแสดงเมื่อคุณไปถึงระดับสูงสุดของอาชีพคุณ\n\nในเกม: /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\nในเกม: /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\nในเกม: /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\nในเกม: /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\nในเกม: /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\nในเกม: /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\nในเกม: /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\nในเกม: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48 ช่อง"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32 ช่อง"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16 ช่อง"
    TEXT_SOUNDMODE_NOSOUND,         "ไม่มีเสียง"
    TEXT_SOUNDMODE_2DSOUND,         "ใช้เสียง 2D"
    TEXT_SOUNDMODE_3DSOUND,         "ใช้เสียง 3D"
    TEXT_SPEAKERTYPE_2SPEAKER,      "2 ลำโพง"
    TEXT_SPEAKERTYPE_HEADPHONE,     "ชุดหูฟัง"
    TEXT_SPEAKERTYPE_SURROUND,      "รอบด้าน"
    TEXT_SPEAKERTYPE_4SPEAKER,      "4 ลำโพง"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16 บิต"
    TEXT_DIGITALBITSTYPE_8BIT,      "8 บิต"
    // tabs
    TEXT_TAB_GRAPHICS,              "กราฟิก"
    TEXT_TAB_SOUNDS,                "เสียง"
    TEXT_TAB_SETTINGS,              "ตั้งค่า"
    TEXT_TAB_ABOUT,                 "เกี่ยวกับ"
    // dialog items
    TEXT_DLG_OK,                    "ตกลง"
    TEXT_DLG_CANCEL,                "ยกเลิก"
    TEXT_DLG_APPLY,                 "ยืนยัน"
    TEXT_DLG_GRAPHIC_SETTINGS,      "ตั้งค่ากราฟิก"
    TEXT_DLG_GRAPHIC_DEVICE,        "อุปกรณ์กราฟิก:"
    TEXT_DLG_RESOLUTION,            "ความละเอียด"
    TEXT_DLG_OPTIONS,               "ตัวเลือก:"
    TEXT_DLG_FULLSCREEN,            "เล่นแบบเต็มหน้าจอ"
    TEXT_DLG_FOG,                   "เปิดหมอก"
    TEXT_DLG_LIGHTMAP,              "เปิดใช้ Lightmap"
    TEXT_DLG_TRILINEAR_FILTER,      "ฟิลเตอร์ Trilinear"
    TEXT_DLG_SPRITE_QUALITY,        "คุณภาพ Sprite:"
    TEXT_DLG_TEXTURE_QUALITY,       "คุณภาพTexture:"
    TEXT_DLG_TROUBLESHOOTING,       "การแก้ไขปัญหา"
    TEXT_DLG_VOODOO3_CARD,          "การ์ดจอ VooDoo3"
    TEXT_DLG_RESTRICT_MOUSE,        "จำกัดเมาส์ในหน้าต่าง"
    TEXT_DLG_SOUND_SETTINGS,        "ตั้งค่าเสียง:"
    TEXT_DLG_SOUND_MODE,            "โหมดเสียง:"
    TEXT_DLG_SPEAKER_TYPE,          "ประเภทของลำโพง:"
    TEXT_DLG_CHANNELS,              "ช่องเสียง:"
    TEXT_DLG_BITDEPTH,              "ความลึก:"
    TEXT_DLG_BITRATE,               "บิทเรท:"
    TEXT_DLG_BGM_VOLUME,            "ความดังเสียงพื้นหลัง:"
    TEXT_DLG_SOUND_VOLUME,          "ความดังเสียงเอฟเฟค:"
    TEXT_DLG_MUTE,                  "ปิดเสียง"
    TEXT_DLG_GENERAL_SETTINGS,      "ตั้งค่าทั่วไป"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ตั้งค่า ROExt"
    TEXT_DLG_MOUSE_FREEDOM,         "เมาส์อิสระ"
    TEXT_DLG_REMAP_MOUSE,           "รีแมปปุ่มเมาส์"
    TEXT_DLG_REMAP_ALTF4,           "รีแมปAlt+F4"
    TEXT_DLG_FREE_CPU,              "คืน CPU เมื่อไม่ถูกใช้งาน"
    TEXT_DLG_ALWAYS_ON_TOP,         "อยู่บนสุดตลอดเวลา"
    TEXT_DLG_LOCK_WINDOW,           "ล็อคหน้าต่าง"
    TEXT_DLG_CODEPAGE,              "Codepage:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "หมายเหตุ: หน้านี้ถูกแสดงเพราะ ROExt ถูกตรวจพบ"
    TEXT_DLG_ABOUT_OPENSETUP,       "เกี่ยวกับ %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(ค่าเริ่มต้น)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (ไม่รู้จัก)"
    TEXT_DLG_COMMANDS,              "คำสั่ง"
    TEXT_DLG_RESET_RESTORE,         "คืนค่าเริ่มต้น"
    TEXT_DLG_RESET_WINDOWS,         "คืนค่าตำแหน่งและการตั้งค่า UI"
    TEXT_DLG_RESET_SKILLLV,         "คืนค่าระดับสกิลที่ถูกเลือกเป็นค่าเริ่มต้น"
    TEXT_DLG_RESET_FOLDER,          "ลบข้อมูลที่สร้างโดยไคล์เอนต์"
    TEXT_DLG_RESET_SETTING,         "ลบการตั้งค่าทั้งหมดที่เกี่ยวกับ Ragnarok Online (คืนค่าจากโรงงาน)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "ปิดการเร่งความเร็วกราฟิกโดยฮาร์ดแวร์"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - ตั้งค่าขนาดของหน้าต่างเป็นค่าที่ต้องการ"
    // error messages
    TEXT_ERROR__TITLE,              "ผิดพลาด"
    TEXT_ERROR__TITLE_LUA,          "Lua ผิดพลาด"
    TEXT_ERROR__SYSTEM_ERROR,       "System ผิดพลาด"
    TEXT_ERROR_INIT_MUTEX,          "ไม่สามารถเริ่มต้น mutex."
    TEXT_ERROR_INIT_COMCTL32,       "ไม่สามารถเริ่มต้น common controls."
    TEXT_ERROR_INIT_DIRECTX7,       "ไม่สามารถอ่านข้อมูล DirectX โปรดทำให้แน่ใจว่าคุณมี DirectX 7 หรือใหม่กว่าติดตั้งอยู่"
    TEXT_ERROR_HKEY_CREATE,         "สร้างคีย์การตั้งค่ารีจิสทรีล้มเหลว"
    TEXT_ERROR_HKEY_WRITE,          "เขียนการตั้งค่าไปยังรีจิสทรีล้มเหลว"
    TEXT_ERROR_HKEY_OPT_CREATE,     "สร้างคีย์ตัวเลือกรีจิสทรีล้มเหลว"
    TEXT_ERROR_HKEY_OPT_WRITE,      "เขียนตัวเลือกการตั้งค่ารีจิสทรีล้มเหลว"
    TEXT_ERROR_FILE_WRITE,          "เขียนการตั้งค่าล้มเหลว"
    TEXT_ERROR_FILE_OPEN_READONLY,  "ไม่สามารถเปิดไฟล์ตั้งค่าเพื่อเขียนได้ ไฟล์ถูกตั้งให้อ่านได้อย่างเดียว"
    TEXT_ERROR_FILE_OPEN,           "ไม่สามารถเปิดไฟล์ตั้งค่าเพื่อเขียนได้"
    TEXT_ERROR_DIRECTORY_CREATE,    "ไม่สามารถสร้างไดเรกทอรีการตั้งค่า"
    TEXT_ERROR_ROEXT_WRITE,         "ไม่สามารถตั้งค่า ROExt"
    TEXT_ERROR_IPC_FAILED,          "Inter-process-communication ล้มเหลว"
    TEXT_ERROR_UNKNOWN_ENGINE,      "เอนจินที่เลือกไม่มีอยู่ (code=0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "Selected settings engine has determined, that your installation state will interfere with the correct loading and saving of settings.\n\nSee opensetup.log for details." // Sorry, can't find proper translation. Leave it as it is.
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
