// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "設置所使用的顯卡設備.\n注意: 如果該列表為空,請更新你的顯卡驅動和DirectX*版本."
    IDCOMBOBOX_RESOLUTION,          "設置視窗模式下的視窗大小, 或全屏模式下的解析度."
    IDCOMBOBOX_SOUND_MODE,          "設置所使用的音頻設備.\n如果設置為關閉,背景音樂和音效都會關閉."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "設置所使用的揚聲器設備.\n將影響音量和3D音頻輸出."
    IDCOMBOBOX_SOUND_BITRATE,       "設置音效的位元速率.\n越大音質越好,但CPU負荷也越大."
    IDCOMBOBOX_SOUND_BITDEPTH,      "設置音效的位元深度.\n越大音質越好,但CPU負荷也越大."
    IDCOMBOBOX_SOUND_CHANNELS,      "設置音效的聲道音場深度.\n越大音質越好,但CPU負荷也越大."
    IDCHECKBOX_FULLSCREEN,          "全螢幕模式開關.\n當你玩遊戲時想切換到其他程序,最好設置為關閉."
    IDCHECKBOX_FOG,                 "霧化效果開關.\n霧化效果用於實現真實天氣效果.\n注意: 對於硬體配備不好用戶可能會造成負擔, 此選項不適用所有顯卡.\n\n熱鍵指令: /fog"
    IDCHECKBOX_LIGHTMAP,            "地圖陰影特效開關.\n注意: 對於硬體配備不好用戶可能會造成負擔.\n\n熱鍵指令: /lightmap"
    IDCHECKBOX_VOODOO,              "巫毒三3D加速卡開關.\n該選項只用於顯卡問題的故障排除."
    IDTRACKBAR_SPRITEQ,             "設置渲染圖像的解析度.\n圖像渲染指人物, 怪物, 物品等圖形. 值越高表示質量越好, 但內存的使用也越大.\n\n熱鍵指令: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "設置渲染紋理的質量.\n紋理渲染指地面, 三維物體表面(例如房子)和載入畫面. 值越高表示質量越好, 但內存使用也越大.\n\n熱鍵指令: Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "光環特效開關.\n當你到達職業最大等級時, 會顯示此特效.\n\n熱鍵指令: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "照相機焦點固定開關.\n注意: 該效果對於硬體配備不好用戶可能會造成負擔.\n\n熱鍵指令: /camera"
    IDCHECKBOX_ISEFFECTON,          "所有視覺特效開關.\n注意: 該特效對於硬體配備不好用戶可能會造成負擔.\n\n熱鍵指令: /effect"
    IDCHECKBOX_ONHOUSERAI,          "自定義生命體AI開關.\n打開時當前生命體AI腳本將使用AI\\USER_AI\\AI.lua代替AI\\AI.lua.\n\n熱鍵指令: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "物品拾取時鼠標緊貼物品開關.\n\n熱鍵指令: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "公會成員和朋友上線狀態改變通知開關.\n\n熱鍵指令: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "用戶自定義僱傭兵AI開關.\n打開時當前僱傭兵AI腳本將使用AI\\USER_AI\\AI_M.lua代替AI\\AI_M.lua.\n\n熱鍵指令: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "閃避效果開關.\n攻擊被閃避時, 你將顯示紅色的'Miss', 敵方將顯示白色的'Miss'.\n注意: 該特效對於硬體配備不好用戶可能會造成負擔.\n\n熱鍵指令: /miss"
    IDCHECKBOX_NOCTRL,              "自動攻擊開關.\n打開時無須按CTRL鍵即可持續攻擊.\n\n熱鍵指令: /noctrl 或 /nc"
    IDCHECKBOX_NOSHIFT,             "強制治癒開關.\n打開時無須按SHIFT鍵即可使用強制治癒.\n\n熱鍵指令: /noshift 或 /ns"
    IDCHECKBOX_NOTRADE,             "自動拒絕交易開關.\n\n熱鍵指令: /notrade 或 /nt"
    IDCHECKBOX_SHOPPING,            "購物模式開關.\n打開時左擊打開商店, 右擊關閉商店.\n\n熱鍵指令: /shopping 或 /sh"
    IDCHECKBOX_SNAP,                "攻擊鎖定開關.\n攻擊魔物時自動鎖定游標. \n\n熱鍵指令: /snap"
    IDCHECKBOX_SKILLFAIL,           "技能失敗提示開關.\n\n熱鍵指令: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "對話視窗內不顯示公開的聊天訊息開關.\n公開發言不會顯示在對話視窗內.\n\n熱鍵指令: /notalkmsg 或 /nm"
    IDCHECKBOX_NOTALKMSG2,          "對話視窗內不顯示所有的聊天訊息開關.\n公開發言以及工會發言皆不會顯示在對話視窗內.\n\n熱鍵指令: /notalkmsg2 或 /nm2"
    IDCHECKBOX_SHOWNAME,            "變更角色姓名的顯示方式開關.\n除了組隊和公會信息, 字體樣式可以是精簡, 顯示所有訊息, 或加粗顯示所有訊息.\n\n熱鍵指令: /showname"
    IDCHECKBOX_STATEINFO,           "狀態圖示說明開關.\n打開時鼠標移到狀態圖示處會顯示該狀態簡短描述.\n\n熱鍵指令: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "'今天的小秘訣'視窗開關.\n每次進入遊戲將顯示'每日提示', 顯示各種各樣的遊戲提示和命令描述.\n\n熱鍵指令: /tip"
    IDCHECKBOX_WINDOW,              "視窗停靠開關.\n透過這個指令將可開啟遊戲中各種視窗(道具欄、素質欄等)是否在相連接時自動緊附.\n\n熱鍵指令: /window"
    IDTRACKBAR_STREAMVOLUME,        "設置背景音樂音量.\n\n熱鍵指令: /bv <音量:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "設置音效音量.\n\n熱鍵指令: /v <音量:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "背景音樂(BGM)開關.\n該開關只對BGM目錄音樂播放有效. 如想關閉技能音效, 請關閉音效.\n\n熱鍵指令: /bgm"
    IDCHECKBOX_ISSOUNDON,           "音效開關.\n\n熱鍵指令: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "鼠標移動限制開關.\n\n遊戲視窗激活時, 鼠標無法移出視窗. 想移出視窗請使用WIN鍵或Alt+Tab.\n注意: 該設置與ROExt的鼠標自由效果相同."
    IDCHECKBOX_TRILINEARFILTER,     "三線性過濾(流暢度)開關. 模糊圖形以達到流暢的效果, 但會帶來文字難以閱讀的問題.\n\n熱鍵指令: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "在下一次保存到所有服務器之前恢復預設位置和遊戲界面.\n注意: 該操作無法還原."
    IDCHECKBOX_RESETSKILLLV,        "在下一次保存到所有服務器之前刪除所有人物所有技能樹等級選擇信息.\n\n當你玩很久時, 該選項可以幫你刪除幾百K的登錄檔數據.\n注意: 該操作無法還原."
    IDCHECKBOX_RESETFOLDER,         "刪除客戶端創建的所有用戶數據.\n\n該選項將刪除OpenSetup保留的所有截圖, 聊天記錄和緩存的公會圖標.\n注意: 文件會儘可能移動到回收站."
    IDCHECKBOX_RESETSETTING,        "除了補丁文件外刪除所有設置(恢復出廠設置).\n\n將丟失所有設置. 通常情況下只有在將要刪除遊戲的時候才用到該選項.\n注意: 該操作無法還原."
    IDINFOICON_VIDEO_REMOTESESSION, "警告: 檢測到正在進行遠程桌面.\n\n在RDP狀態下你的顯卡無法被檢測到."
    IDCHECKBOX_SKILLSNAP,           "使用技能時自動鎖定游標.\n\n熱鍵指令: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "顯卡硬體加速功能開關.\n\n該選項只用於顯卡問題的故障排除. 當開啟時, 客戶端將不再使用顯卡進行渲染.\n注意: 該選項不建議低配置和一般配置玩家開啟."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "警告: 檢測到鏡像模式.\n\n在鏡像模式下你的顯卡無法被檢測到. VNC狀態, 遠程控制服務軟件或惡意軟件都可能會導致該警告產生."
    IDINFOICON_SOUND_MISSINGFILES,  "警告: 丟失或損壞'音頻系統'文件.\n\n丟失'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'文件. 背景音樂可能無法正常運作."
    IDCHECKBOX_MONSTERHP,           "怪物HP血條開關.\n\n熱鍵指令: /monsterhp"
    IDCHECKBOX_Q1,                  "F9鼠標映射開關.\n打開時F9鍵上的技能可以用鼠標右擊代替.\n\n熱鍵指令: /quickspell 或 /q1"
    IDCHECKBOX_Q2,                  "F7和F8鼠標映射開關.\n打開時F7和F8鍵上的技能可以使用鼠標上滾下滾代替.\n\n熱鍵指令: /quickspell2 或 /q2"
    IDCHECKBOX_AURA2,               "光環特效開關.\n當你到達職業最大等級時, 會顯示此特效.\n\n熱鍵指令: /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\n熱鍵指令: /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\n熱鍵指令: /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\n熱鍵指令: /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\n熱鍵指令: /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\n熱鍵指令: /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\n熱鍵指令: /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\n熱鍵指令: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48聲道"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32聲道"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16聲道"
    TEXT_SOUNDMODE_NOSOUND,         "關閉"
    TEXT_SOUNDMODE_2DSOUND,         "2D音效"
    TEXT_SOUNDMODE_3DSOUND,         "3D音效"
    TEXT_SPEAKERTYPE_2SPEAKER,      "雙喇叭"
    TEXT_SPEAKERTYPE_HEADPHONE,     "耳機"
    TEXT_SPEAKERTYPE_SURROUND,      "環繞聲"
    TEXT_SPEAKERTYPE_4SPEAKER,      "四喇叭"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16位元"
    TEXT_DIGITALBITSTYPE_8BIT,      "8位元"
    // tabs
    TEXT_TAB_GRAPHICS,              "顯示"
    TEXT_TAB_SOUNDS,                "音效"
    TEXT_TAB_SETTINGS,              "設置"
    TEXT_TAB_ABOUT,                 "關於"
    // dialog items
    TEXT_DLG_OK,                    "確定"
    TEXT_DLG_CANCEL,                "取消"
    TEXT_DLG_APPLY,                 "套用"
    TEXT_DLG_GRAPHIC_SETTINGS,      "顯示設置"
    TEXT_DLG_GRAPHIC_DEVICE,        "顯卡設備:"
    TEXT_DLG_RESOLUTION,            "解析度:"
    TEXT_DLG_OPTIONS,               "選項:"
    TEXT_DLG_FULLSCREEN,            "全螢幕模式"
    TEXT_DLG_FOG,                   "霧化效果"
    TEXT_DLG_LIGHTMAP,              "地圖陰影"
    TEXT_DLG_TRILINEAR_FILTER,      "三線性過濾"
    TEXT_DLG_SPRITE_QUALITY,        "紙娃娃品質:"
    TEXT_DLG_TEXTURE_QUALITY,       "背景紋理品質:"
    TEXT_DLG_TROUBLESHOOTING,       "問題排除"
    TEXT_DLG_VOODOO3_CARD,          "巫毒三3D加速卡"
    TEXT_DLG_RESTRICT_MOUSE,        "滑鼠限制"
    TEXT_DLG_SOUND_SETTINGS,        "音效設置"
    TEXT_DLG_SOUND_MODE,            "音頻模式:"
    TEXT_DLG_SPEAKER_TYPE,          "揚聲器類型:"
    TEXT_DLG_CHANNELS,              "聲道:"
    TEXT_DLG_BITDEPTH,              "位元深度:"
    TEXT_DLG_BITRATE,               "位元速率:"
    TEXT_DLG_BGM_VOLUME,            "背景音樂音量:"
    TEXT_DLG_SOUND_VOLUME,          "音效音量:"
    TEXT_DLG_MUTE,                  "靜音"
    TEXT_DLG_GENERAL_SETTINGS,      "通用設置"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt設置"
    TEXT_DLG_MOUSE_FREEDOM,         "鼠標自由移動"
    TEXT_DLG_REMAP_MOUSE,           "重新映射鼠標按鈕"
    TEXT_DLG_REMAP_ALTF4,           "重新映射Alt+F4"
    TEXT_DLG_FREE_CPU,              "不激活時釋放CPU"
    TEXT_DLG_ALWAYS_ON_TOP,         "視窗置頂"
    TEXT_DLG_LOCK_WINDOW,           "固定視窗"
    TEXT_DLG_CODEPAGE,              "CODEPAGE編碼:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "注意: 因為檢測到ROExt, 所以只會顯示此頁面."
    TEXT_DLG_ABOUT_OPENSETUP,       "關於 %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(預設值)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d (未知)"
    TEXT_DLG_COMMANDS,              "命令"
    TEXT_DLG_RESET_RESTORE,         "恢復預設值"
    TEXT_DLG_RESET_WINDOWS,         "恢復預設界面的位置和設置"
    TEXT_DLG_RESET_SKILLLV,         "恢復技能等級選擇器至預設值"
    TEXT_DLG_RESET_FOLDER,          "刪除客戶端創建的用戶數據"
    TEXT_DLG_RESET_SETTING,         "刪除所有關於RO的設置(出廠模式)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "關閉顯卡硬體加速功能"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - 重設視窗到指定大小"
    // error messages
    TEXT_ERROR__TITLE,              "錯誤"
    TEXT_ERROR__TITLE_LUA,          "Lua錯誤"
    TEXT_ERROR__SYSTEM_ERROR,       "系統錯誤"
    TEXT_ERROR_INIT_MUTEX,          "初始化互斥體失敗."
    TEXT_ERROR_INIT_COMCTL32,       "初始化通用控件失敗."
    TEXT_ERROR_INIT_DIRECTX7,       "取得DirectX資訊失敗，請確認已經安裝 DirectX 7或以上版本."
    TEXT_ERROR_HKEY_CREATE,         "創建設置登錄檔鍵值失敗."
    TEXT_ERROR_HKEY_WRITE,          "配置寫入登錄檔失敗."
    TEXT_ERROR_HKEY_OPT_CREATE,     "創建選項設置登錄檔鍵值失敗."
    TEXT_ERROR_HKEY_OPT_WRITE,      "選項設置寫入登錄檔失敗."
    TEXT_ERROR_FILE_WRITE,          "配置寫入失敗."
    TEXT_ERROR_FILE_OPEN_READONLY,  "無法以寫入方式打開設置. 文件被設置成唯讀屬性."
    TEXT_ERROR_FILE_OPEN,           "無法以寫入方式打開設置."
    TEXT_ERROR_DIRECTORY_CREATE,    "設置目錄創建失敗."
    TEXT_ERROR_ROEXT_WRITE,         "ROExt設置寫入失敗."
    TEXT_ERROR_IPC_FAILED,          "進程間通信失敗."
    TEXT_ERROR_UNKNOWN_ENGINE,      "所選的設置類型不存在 (錯誤代碼0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "所選設置類型已經存在, 新的設置將會干擾正確設置的加載和保存.\n\n詳情請查看opensetup.log."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
