// -----------------------------------------------------------------
// RagnarokOnline OpenSetup
// (c) 2010+ Ai4rei/AN
// See doc/license.txt for details.
//
// -----------------------------------------------------------------

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE DISCARDABLE
BEGIN
    // help strings for context-help
    // length of the strings is limited to 4096 characters
    IDCOMBOBOX_VIDEODEVICE,         "控制所使用的显卡设备.\n注意: 如果该列表为空, 请更新你的显卡驱动和DirectX*程序."
    IDCOMBOBOX_RESOLUTION,          "控制窗口模式下的窗口大小, 或全屏模式下的分辨率."
    IDCOMBOBOX_SOUND_MODE,          "控制所使用的音频设备.\n如果设置为关闭,背景音乐和音效都会关闭."
    IDCOMBOBOX_SOUND_SPEAKERTYPE,   "控制所使用的扬声器设备.\n将影响音量和3D音频输出."
    IDCOMBOBOX_SOUND_BITRATE,       "控制声音的比特率.\n越大音质越好,但CPU负荷也越大."
    IDCOMBOBOX_SOUND_BITDEPTH,      "控制声音的比特深度.\n越大音质越好,但CPU负荷也越大."
    IDCOMBOBOX_SOUND_CHANNELS,      "控制声音的channel-depth.\n越大音质越好,但CPU负荷也越大."
    IDCHECKBOX_FULLSCREEN,          "全屏游戏开关.\n当你玩游戏时想切换到其他程序,最好设置为关闭."
    IDCHECKBOX_FOG,                 "迷雾特效开关.\n迷雾特效用于实现真实天气效果.\n注意: 对于低配置用户可能会造成负担, 此选项不适用所有显卡.\n\n游戏控制: /fog"
    IDCHECKBOX_LIGHTMAP,            "阴影特效开关.\n注意: 对于低配置用户可能会造成负担.\n\n游戏控制: /lightmap"
    IDCHECKBOX_VOODOO,              "VooDoo3显卡特别开关.\n该选项只用于显卡问题的故障排除."
    IDTRACKBAR_SPRITEQ,             "控制渲染图像的质量.\n图像渲染指人物, 怪物, 物品等图形. 值越高表示质量越好, 但内存的使用也越大.\n\n游戏控制: Alt+D"
    IDTRACKBAR_TEXTUREQ,            "控制渲染纹理的质量.\n纹理渲染指地面, 三维物体表面(例如房子)和载入画面. 值越高表示质量越好, 但内存使用也越大.\n\n游戏控制: Alt+D"
    // FIXME: /aura does not disable the effect, but only simplify it.
    IDCHECKBOX_AURA,                "光环特效开关.\n当你到达职业最大等级时, 会显示此特效.\n\n游戏控制: /aura"
    IDCHECKBOX_ISFIXEDCAMERA,       "镜头拉伸开关.\n注意: 该效果对于低配置用户可能会造成负担.\n\n游戏控制: /camera"
    IDCHECKBOX_ISEFFECTON,          "所有视觉特效开关.\n注意: 该特效对于低配置用户可能会造成负担.\n\n游戏控制: /effect"
    IDCHECKBOX_ONHOUSERAI,          "用户自定义生命体AI开关.\n打开时当前生命体AI脚本将使用AI\\USER_AI\\AI.lua代替AI\\AI.lua.\n\n游戏控制: /hoai"
    IDCHECKBOX_ISITEMSNAP,          "物品拾取时鼠标紧贴物品开关.\n\n游戏控制: /itemsnap"
    IDCHECKBOX_LOGINOUT,            "公会成员和朋友上线状态改变通知开关.\n\n游戏控制: /loginout"
    IDCHECKBOX_ONMERUSERAI,         "用户自定义雇佣兵AI开关.\n打开时当前雇佣兵AI脚本将使用AI\\USER_AI\\AI_M.lua代替AI\\AI_M.lua.\n\n游戏控制: /merai"
    IDCHECKBOX_MAKEMISSEFFECT,      "闪避效果开关.\n攻击被闪避时, 你将显示红色的'Miss', 敌方将显示白色的'Miss'.\n注意: 该特效对于低配置用户可能会造成负担.\n\n游戏控制: /miss"
    IDCHECKBOX_NOCTRL,              "自动攻击开关.\n打开时无须按CTRL键即可持续攻击.\n\n游戏控制: /noctrl or /nc"
    IDCHECKBOX_NOSHIFT,             "强制治愈开关.\n打开时无须按SHIFT键即可使用强制治愈.\n\n游戏控制: /noshift or /ns"
    IDCHECKBOX_NOTRADE,             "自动拒绝交易开关.\n\n游戏控制: /notrade or /nt"
    IDCHECKBOX_SHOPPING,            "购物模式开关.\n打开时左击打开商店, 右击关闭商店.\n\n游戏控制: /shopping or /sh"
    IDCHECKBOX_SNAP,                "传统攻击时鼠标紧贴目标开关.\n\n游戏控制: /snap"
    IDCHECKBOX_SKILLFAIL,           "技能失败提示信息开关.\n\n游戏控制: /skillfail"
    IDCHECKBOX_NOTALKMSG,           "聊天窗口显示公聊开关.\n公聊依然会显示在相应人物头上.\n\n游戏控制: /notalkmsg or /nm"
    IDCHECKBOX_NOTALKMSG2,          "聊天窗口显示所有聊天信息开关.\n聊天信息依然会显示在相应人物头上.\n\n游戏控制: /notalkmsg2 or /nm2"
    IDCHECKBOX_SHOWNAME,            "人物别称字体样式开关.\n除了组队和公会信息, 字体样式可以是精简, 显示所有信息, 或加粗显示所有信息.\n\n游戏控制: /showname"
    IDCHECKBOX_STATEINFO,           "状态改变图标描述开关.\n打开时鼠标移到状态图标处会显示简短的状态改变描述.\n\n游戏控制: /stateinfo"
    IDCHECKBOX_SHOWTIPSATSTARTUP,   "'每日提示'开关.\n每次进入游戏将显示'每日提示', 显示各种各样的游戏提示和命令描述.\n\n游戏控制: /tip"
    IDCHECKBOX_WINDOW,              "窗口停靠开关.\n移动窗口时可以使他们边缘吸附.\n\n游戏控制: /window"
    IDTRACKBAR_STREAMVOLUME,        "控制背景音乐音量.\n\n游戏控制: /bv <volume:0-127>"
    IDTRACKBAR_SOUNDVOLUME,         "控制音效音量.\n\n游戏控制: /v <volume:0-127>"
    IDCHECKBOX_BGMISPAUSED,         "背景音乐(BGM)开关.\n该开关只对BGM目录音乐播放有效. 想关闭技能音乐, 请关闭音效.\n\n游戏控制: /bgm"
    IDCHECKBOX_ISSOUNDON,           "音效开关.\n\n游戏控制: /sound"
    IDCHECKBOX_MOUSEEXCLUSIVE,      "鼠标移动限制开关.\n\n游戏窗口激活时, 鼠标无法移出窗口. 想移出窗口请使用WIN键或Alt+Tab.\n注意: 该设置与ROExt的鼠标自由效果相同."
    IDCHECKBOX_TRILINEARFILTER,     "三线性过滤(流畅度)开关. 模糊图形以达到流畅的效果, 但会带来文字难以阅读的问题.\n\n游戏控制: Alt+D"
    IDCHECKBOX_RESETWINDOWS,        "在下一次保存到所有服务器之前恢复默认位置和游戏界面.\n注意: 该操作无法还原."
    IDCHECKBOX_RESETSKILLLV,        "在下一次保存到所有服务器之前删除所有人物所有技能树等级选择信息.\n\n当你玩很久时, 该选项可以帮你删除几百K的注册表数据.\n注意: 该操作无法还原."
    IDCHECKBOX_RESETFOLDER,         "删除客户端创建的所有用户数据.\n\n该选项将删除OpenSetup保留的所有截图, 聊天记录和缓存的公会图标.\n注意: 文件会尽可能移动到回收站."
    IDCHECKBOX_RESETSETTING,        "除了补丁文件外删除所有设置(恢复出厂设置).\n\n将丢失所有设置. 通常情况下只有在将要删除游戏的时候才用到该选项.\n注意: 该操作无法还原."
    IDINFOICON_VIDEO_REMOTESESSION, "警告: 检测到正在进行远程桌面.\n\n在RDP状态下你的显卡无法被检测到."
    IDCHECKBOX_SKILLSNAP,           "技能使用时鼠标紧贴目标开关.\n\n游戏控制: /skillsnap"
    IDCHECKBOX_HELDEVICE,           "显卡硬件加速开关.\n\n该选项只用于显卡问题的故障排除. 当开启时, 客户端将不再使用显卡进行渲染.\n注意: 该选项不建议低配置和一般配置玩家开启."
    IDINFOICON_VIDEO_MIRRORDRIVER,  "警告: 检测到镜像模式.\n\n在镜像模式下你的显卡无法被检测到. VNC状态, 远程控制服务软件或恶意软件都可能会导致该警告产生."
    IDINFOICON_SOUND_MISSINGFILES,  "警告: 丢失或损坏'音频系统'文件.\n\n丢失'mss32.dll', 'mssfast.m3d', 'mp3dec.asi'文件. 背景音乐可能无法正常运作."
    IDCHECKBOX_MONSTERHP,           "怪物HP开关.\n\n游戏控制: /monsterhp"
    IDCHECKBOX_Q1,                  "F9鼠标映射开关.\n打开时F9键上的技能可以用鼠标右击代替.\n\n游戏控制: /quickspell or /q1"
    IDCHECKBOX_Q2,                  "F7和F8鼠标映射开关.\n打开时F7和F8键上的技能可以使用鼠标上滚下滚代替.\n\n游戏控制: /quickspell2 or /q2"
    IDCHECKBOX_AURA2,               "光环特效开关.\n当你到达职业最大等级时, 会显示此特效.\n\n游戏控制: /aura2"
    IDCHECKBOX_BTG,                 "Turns the battle grounds icon on and off.\n\n游戏控制: /btg"
    IDCHECKBOX_CASHSHOP,            "Turns the cash shop icon on and off.\n\n游戏控制: /cashshop"
    IDCHECKBOX_GOLDPC,              "Turns the PC Bang gold mining UI on and off.\n\n游戏控制: /goldpc"
    IDCHECKBOX_ROULETTE,            "Turns the roulette icon on and off.\n\n游戏控制: /roulette"
    IDCHECKBOX_QUAKE,               "Turns screen shaking effect on and off.\n\n游戏控制: /quake"
    IDCHECKBOX_MABLE,               "Turns the Spirit Marble skill effect on and off.\n\n游戏控制: /mable"
    IDCHECKBOX_ZOOM,                "Turns extended game view (zoom out) on and off.\n\n游戏控制: /zoom"
    IDCHECKBOX_MOUSEFREEDOM,        "Allow mouse cursor to freely leave and enter RO window.\nNote: This setting predates and has the same effect as official Mouse Exclusive setting."
    IDCHECKBOX_REMAPMOUSEBUTTONS,   "Remap 3-5'th mouse buttons, requires turned on MouseFreedom."
    IDCHECKBOX_REMAPALTF4,          "TODO:"
    IDCHECKBOX_AUTOFREECPU,         "TODO:"
    IDCHECKBOX_WINDOWONTOP,         "TODO:"
    IDCHECKBOX_WINDOWLOCK,          "TODO:"
    IDCOMBOBOX_CODEPAGE,            "Overrides the codepage used by the client.\n\nNote: Don't change this unless you know what you are doing."
    IDDRAGSIZE,                     "Selects the resolution visually by dragging a window to desired size."
    IDVIDEOTEST,                    "Tests whether currently selected (possibly unsaved) graphics settings function properly or not."
    // list-boxes
    TEXT_NUMSAMPLETYPE_48CHANNEL,   "48通道"
    TEXT_NUMSAMPLETYPE_32CHANNEL,   "32通道"
    TEXT_NUMSAMPLETYPE_16CHANNEL,   "16通道"
    TEXT_SOUNDMODE_NOSOUND,         "关闭"
    TEXT_SOUNDMODE_2DSOUND,         "2D声音"
    TEXT_SOUNDMODE_3DSOUND,         "3D声音"
    TEXT_SPEAKERTYPE_2SPEAKER,      "双喇叭"
    TEXT_SPEAKERTYPE_HEADPHONE,     "耳机"
    TEXT_SPEAKERTYPE_SURROUND,      "环绕声"
    TEXT_SPEAKERTYPE_4SPEAKER,      "四喇叭"
    TEXT_DIGITALRATETYPE_22K,       "22k"
    TEXT_DIGITALRATETYPE_11K,       "11k"
    TEXT_DIGITALRATETYPE_8K,        "8k"
    TEXT_DIGITALBITSTYPE_16BIT,     "16位"
    TEXT_DIGITALBITSTYPE_8BIT,      "8位"
    // tabs
    TEXT_TAB_GRAPHICS,              "显示"
    TEXT_TAB_SOUNDS,                "声音"
    TEXT_TAB_SETTINGS,              "设置"
    TEXT_TAB_ABOUT,                 "关于"
    // dialog items
    TEXT_DLG_OK,                    "确定"
    TEXT_DLG_CANCEL,                "取消"
    TEXT_DLG_APPLY,                 "应用"
    TEXT_DLG_GRAPHIC_SETTINGS,      "显示设置"
    TEXT_DLG_GRAPHIC_DEVICE,        "显卡设备:"
    TEXT_DLG_RESOLUTION,            "分辨率:"
    TEXT_DLG_OPTIONS,               "选项:"
    TEXT_DLG_FULLSCREEN,            "全屏游戏"
    TEXT_DLG_FOG,                   "开启迷雾"
    TEXT_DLG_LIGHTMAP,              "开启阴影"
    TEXT_DLG_TRILINEAR_FILTER,      "三线性过滤"
    TEXT_DLG_SPRITE_QUALITY,        "精灵效果:"
    TEXT_DLG_TEXTURE_QUALITY,       "纹理效果:"
    TEXT_DLG_TROUBLESHOOTING,       "问题排除"
    TEXT_DLG_VOODOO3_CARD,          "VooDoo3显卡"
    TEXT_DLG_RESTRICT_MOUSE,        "鼠标固定"
    TEXT_DLG_SOUND_SETTINGS,        "声音设置"
    TEXT_DLG_SOUND_MODE,            "音频模式:"
    TEXT_DLG_SPEAKER_TYPE,          "扬声器类型:"
    TEXT_DLG_CHANNELS,              "通道:"
    TEXT_DLG_BITDEPTH,              "比特深度:"
    TEXT_DLG_BITRATE,               "比特率:"
    TEXT_DLG_BGM_VOLUME,            "背景音乐音量:"
    TEXT_DLG_SOUND_VOLUME,          "音效音量:"
    TEXT_DLG_MUTE,                  "静音"
    TEXT_DLG_GENERAL_SETTINGS,      "通用设置"
    TEXT_DLG_CMD_AURA,              "/aura"
    TEXT_DLG_CMD_CAMERA,            "/camera"
    TEXT_DLG_CMD_EFFECT,            "/effect"
    TEXT_DLG_CMD_HOAI,              "/hoai"
    TEXT_DLG_CMD_ITEMSNAP,          "/itemsnap"
    TEXT_DLG_CMD_LOGINOUT,          "/loginout"
    TEXT_DLG_CMD_MERAI,             "/merai"
    TEXT_DLG_CMD_MISS,              "/miss"
    TEXT_DLG_CMD_NOCTRL,            "/noctrl"
    TEXT_DLG_CMD_NOSHIFT,           "/noshift"
    TEXT_DLG_CMD_NOTRADE,           "/notrade"
    TEXT_DLG_CMD_SHOPPING,          "/shopping"
    TEXT_DLG_CMD_SNAP,              "/snap"
    TEXT_DLG_CMD_SKILLFAIL,         "/skillfail"
    TEXT_DLG_CMD_NOTALKMSG,         "/notalkmsg"
    TEXT_DLG_CMD_NOTALKMSG2,        "/notalkmsg2"
    TEXT_DLG_CMD_SHOWNAME,          "/showname"
    TEXT_DLG_CMD_STATEINFO,         "/stateinfo"
    TEXT_DLG_CMD_TOP,               "/tip"
    TEXT_DLG_CMD_WINDOW,            "/window"
    TEXT_DLG_ROEXT_SETTINGS,        "ROExt设置"
    TEXT_DLG_MOUSE_FREEDOM,         "鼠标自由移动"
    TEXT_DLG_REMAP_MOUSE,           "重新映射鼠标按钮"
    TEXT_DLG_REMAP_ALTF4,           "重新映射Alt+F4"
    TEXT_DLG_FREE_CPU,              "不激活时释放CPU"
    TEXT_DLG_ALWAYS_ON_TOP,         "置顶窗口"
    TEXT_DLG_LOCK_WINDOW,           "锁定窗口"
    TEXT_DLG_CODEPAGE,              "编码:"
    TEXT_DLG_ROEXT_DETECT_NOTE,     "注意: 因为检测到ROExt, 所以只会显示此页面."
    TEXT_DLG_ABOUT_OPENSETUP,       "关于 %s"
    TEXT_DLG_LIST_CP_DEFAULT,       "(默认)"
    TEXT_DLG_LIST_CP_UNKNOWN,       "%d  (未知)"
    TEXT_DLG_COMMANDS,              "命令"
    TEXT_DLG_RESET_RESTORE,         "恢复默认"
    TEXT_DLG_RESET_WINDOWS,         "恢复默认位置和设置"
    TEXT_DLG_RESET_SKILLLV,         "恢复技能等级选择器"
    TEXT_DLG_RESET_FOLDER,          "删除客户端创建的用户数据"
    TEXT_DLG_RESET_SETTING,         "删除所有关于RO的设置(出厂模式)"
    TEXT_DLG_CMD_SKILLSNAP,         "/skillsnap"
    TEXT_DLG_HELDEVICE,             "禁用显卡硬件加速"
    TEXT_DLG_CMD_MONSTERHP,         "/monsterhp"
    TEXT_DLG_CMD_Q1,                "/q1"
    TEXT_DLG_CMD_Q2,                "/q2"
    TEXT_DLG_CMD_AURA2,             "/aura2"
    TEXT_DLG_CMD_BTG,               "/btg"
    TEXT_DLG_CMD_CASHSHOP,          "/cashshop"
    TEXT_DLG_CMD_GOLDPC,            "/goldpc"
    TEXT_DLG_CMD_ROULETTE,          "/roulette"
    TEXT_DLG_CMD_QUAKE,             "/quake"
    TEXT_DLG_ENGINE,                "Engine"  // settings engine, as in "Engine: <ID>"
    TEXT_DLG_ENGINE_REGISTRY,       "REG"
    TEXT_DLG_ENGINE_LUA,            "LUA"
    TEXT_DLG_CMD_MABLE,             "/mable"
    TEXT_DLG_CMD_ZOOM,              "/zoom"
    TEXT_DLG_ABOUT_TELEMETRY,       "Telemetry"
    TEXT_DLG_VIDEOTEST,             "Test settings"
    // misc messages
    TEXT_MISC_DRAGSIZE_INFO,        "%ldx%ld - 重设窗口到指定大小"
    // error messages
    TEXT_ERROR__TITLE,              "错误"
    TEXT_ERROR__TITLE_LUA,          "Lua错误"
    TEXT_ERROR__SYSTEM_ERROR,       "系统错误"
    TEXT_ERROR_INIT_MUTEX,          "初始化互斥体失败."
    TEXT_ERROR_INIT_COMCTL32,       "初始化通用控件失败."
    TEXT_ERROR_INIT_DIRECTX7,       "检索DirectX信息失败. 请确保DirectX 7或以上版本已经安装."
    TEXT_ERROR_HKEY_CREATE,         "创建设置注册表键值失败."
    TEXT_ERROR_HKEY_WRITE,          "配置写入注册表失败."
    TEXT_ERROR_HKEY_OPT_CREATE,     "创建选项设置注册表键值失败."
    TEXT_ERROR_HKEY_OPT_WRITE,      "选项设置写入注册表失败."
    TEXT_ERROR_FILE_WRITE,          "配置写入失败."
    TEXT_ERROR_FILE_OPEN_READONLY,  "无法以写入方式打开设置. 文件被设置为只读."
    TEXT_ERROR_FILE_OPEN,           "无法以写入方式打开设置."
    TEXT_ERROR_DIRECTORY_CREATE,    "设置目录创建失败."
    TEXT_ERROR_ROEXT_WRITE,         "ROExt设置写入失败."
    TEXT_ERROR_IPC_FAILED,          "进程间通信失败."
    TEXT_ERROR_UNKNOWN_ENGINE,      "所选的设置类型不存在 (错误代码0x%08x)."
    TEXT_ERROR_INSANE_ENGINE,       "所选设置类型已经存在, 新的设置将会干扰正确设置的加载和保存.\n\n详情请查看opensetup.log."
    TEXT_ERROR_TESTGX_FAILED,       "Failed to start graphics test."
    // info/question messages
    TEXT_MSG_RO_ALREADY_RUNNING,    "Running RagnarokOnline client detected, changes to settings made with this application may be overwritten by the client.\n\nDo you want to continue anyway?"
    TEXT_MSG_TESTGX_INTRO,          "This will test the current graphics settings. Before you continue, please save your work."
    TEXT_MSG_TESTGX_DESCRIPTION,    "In the following, you should see a graphics window (or full screen) simulation of the RO client. You can close it with the ESC key, or wait for 15 seconds if the computer stops reacting."
    TEXT_MSG_TESTGX_NOSELECTION,    "Not enough information to run test."
END
